<div class="row">
  <div class="col-5">AniList</div>
  <div class="col-7">
    @if (anilistLoggedIn) {
      <myanili-icon-anilist class="me-1"></myanili-icon-anilist>
      <a href="https://anilist.co/user/{{ anilistLoggedIn.name }}" target="_blank">{{
        anilistLoggedIn.name
      }}</a>
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="anilistLogoff()"
      ></myanili-icon>
    } @else {
      <button class="btn btn-sm btn-primary" (click)="anilistConnect()">
        <myanili-icon-anilist></myanili-icon-anilist>
        Connect
      </button>
    }
  </div>
</div>
