<div class="row">
  <div class="col-5">Kitsu</div>
  <div class="col-7">
    @if (kitsuLoggedIn) {
      <myanili-icon-kitsu style="color: #e75e45" class="me-1"></myanili-icon-kitsu>
      <a
        href="https://kitsu.app/users/{{ kitsuLoggedIn.attributes.name || kitsuLoggedIn.id }}"
        target="_blank"
        >{{ kitsuLoggedIn.attributes.name || kitsuLoggedIn.id }}</a
      >
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="kitsuLogoff()"
      ></myanili-icon>
    } @else {
      @if (kitsuData) {
        <input
          class="form-control mb-1"
          placeholder="Email / Username"
          [(ngModel)]="kitsuData.username"
        />
        <input
          class="form-control mb-1"
          placeholder="Password"
          type="password"
          [(ngModel)]="kitsuData.password"
        />
        <div class="form-check">
          <input
            [(ngModel)]="kitsuData.saveLogin"
            class="form-check-input"
            type="checkbox"
            value=""
            id="kitsuSaveLogin"
          />
          <label class="form-check-label" for="kitsuSaveLogin">
            Save credentials locally<br /><small class="text-secondary"
              >Only use if you keep getting logged out. Your username and password will be stored in
              localStorage on your device.</small
            >
          </label>
        </div>
      }
      <button
        class="btn btn-sm btn-primary"
        (click)="kitsuConnect()"
        [disabled]="(kitsuData && (!kitsuData.username || !kitsuData.password)) || kitsuLoading"
      >
        @if (kitsuLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-kitsu style="color: #e75e45"></myanili-icon-kitsu>
        }
        Connect
      </button>
    }
  </div>
</div>
