<div class="row">
  <div class="col-5">SIMKL</div>
  <div class="col-7">
    @if (simklLoggedIn) {
      <myanili-icon-simkl class="me-1"></myanili-icon-simkl>
      <a href="https://simkl.com/{{ simklLoggedIn.id }}" target="_blank">{{
        simklLoggedIn.name || simklLoggedIn.id
      }}</a>
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="simklLogoff()"
      ></myanili-icon>
    } @else {
      <button class="btn btn-sm btn-primary" (click)="simklConnect()" [disabled]="simklLoading">
        @if (simklLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-simkl></myanili-icon-simkl>
        }
        Connect
      </button>
    }
  </div>
</div>
