<section>
  <table class="table table-sm table-hover table-striped table-responsive-md">
    <thead class="sticky">
      <tr>
        <th colspan="4" class="text-center">Reading</th>
      </tr>
      <tr>
        <th>Name</th>
        <th><span class="d-none d-md-inline">Platform</span></th>
        <th>Chapter</th>
        <th>Volume</th>
      </tr>
    </thead>
    <app-readlist [mangas]="reading"></app-readlist>
    <thead>
      <tr>
        <th colspan="4" class="text-center">Ongoing</th>
      </tr>
    </thead>
    <app-readlist [mangas]="ongoing"></app-readlist>
  </table>
</section>
