  <tr *ngFor="let manga of mangas">
    <td routerLink="/manga/details/{{ manga.node.id }}" class="cursor-pointer">
      {{
        manga.my_extension?.displayName ||
          (lang === 'en'
            ? manga.node.alternative_titles?.en
            : lang === 'jp'
            ? manga.node.alternative_titles?.ja
            : manga.node.title) ||
          manga.node.title
      }}
    </td>
    <td>
      <app-platform [provider]="manga.my_extension?.platform"> </app-platform>
    </td>
    <td class="text-nowrap">
      <circle-progress
        [percent]="
          manga.node.num_chapters
            ? (manga.list_status.num_chapters_read / (manga.node.num_chapters || 0)) * 100
            : 0
        "
      ></circle-progress>
      <app-icon
        (click)="plusOneChapter(manga)"
        [name]="manga.busy ? 'hourglass-split' : 'plus-square'"
        class="cursor-pointer mx-1"
      ></app-icon>
      {{ manga.list_status.num_chapters_read }}/{{ manga.node.num_chapters || '?' }}
    </td>
    <td class="text-nowrap">
      <app-icon
        (click)="plusOneVolume(manga)"
        [name]="manga.busy ? 'hourglass-split' : 'plus-square'"
        class="cursor-pointer me-1"
      ></app-icon>
      {{ manga.list_status.num_volumes_read }}/{{ manga.node.num_volumes || '?' }}
    </td>
  </tr>
