<div class="card mt-3">
  <div class="card-header">Changelog</div>
  @for (change of changes; track change) {
    <div class="card-body border-bottom pb-0">
      <h6>
        v{{ change.version }}
        @if (change.date) {
          <small class="text-muted"> ({{ change.date | date: 'mediumDate' }}) </small>
        }
      </h6>
      @if (change.features?.length) {
        <div>
          Features:
          <ul>
            @for (feature of change.features; track feature) {
              <li>{{ feature }}</li>
            }
          </ul>
        </div>
      }
      @if (change.fixes?.length) {
        <div>
          Fixes:
          <ul>
            @for (fix of change.fixes; track fix) {
              <li>{{ fix }}</li>
            }
          </ul>
        </div>
      }
      @if (change.other?.length) {
        <div>
          Other:
          <ul>
            @for (other of change.other; track other) {
              <li>{{ other }}</li>
            }
          </ul>
        </div>
      }
    </div>
  }
  @if (!showall && changelog.changes.length > limit) {
    <div class="card-footer cursor-pointer" (click)="showall = true">Show all</div>
  }
</div>
