<myanili-navbar-top></myanili-navbar-top>
@if (loggedIn && loggedIn != '***loading***') {
  <router-outlet></router-outlet>
  @if (busy) {
    <div class="busy-overlay">
      @if (!loadingPercent) {
        <myanili-icon name="loading" [size]="64"></myanili-icon>
      }
      @if (loadingPercent) {
        <myanili-icon-progress
          [percent]="loadingPercent"
          [size]="64"
          name="loading"
        ></myanili-icon-progress>
      }
    </div>
  }
}
@if (!hideNavbar) {
  <div class="buffer"></div>
}
@if (loggedIn && loggedIn != '***loading***') {
  <myanili-navbar-bottom></myanili-navbar-bottom>
}

<myanili-toaster></myanili-toaster>
