.busy-overlay {
  position: fixed;
  width: 100%;
  height: calc(100% - 58px);
  top: 58px;
  overflow: hidden;
  backdrop-filter: blur(2px);

  app-icon,
  circle-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px;
  }
}
