<myanili-navbar></myanili-navbar>
<ng-container *ngIf="loggedIn && loggedIn != '***loading***'">
  <router-outlet></router-outlet>
  <div class="busy-overlay" *ngIf="busy">
    <myanili-icon *ngIf="!loadingPercent" name="loading" [size]="64"></myanili-icon>
    <myanili-icon-progress
      *ngIf="loadingPercent"
      [percent]="loadingPercent"
      [size]="64"
      name="loading"
    ></myanili-icon-progress>
  </div>
</ng-container>
<footer class="bg-white border-top">
  &copy; {{today|date:"Y"}} <a href="https://github.com/infanf/myanili" target="_blank" class="link">infanf</a>
  &middot;
  <a class="cursor-pointer link" (click)="showAbout()">About / Privacy</a>
</footer>