.busy-overlay {
  position: fixed;
  width: 100%;
  height: calc(100% - 58px);
  top: 58px;
  overflow: hidden;
  backdrop-filter: blur(2px);
  z-index: 1000;

  myanili-icon,
  circle-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px;
  }
}

.buffer {
  height: 3.5rem;
}

footer {
  font-size: calc(var(--bs-body-font-size) * 0.7);
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 0.25rem;
}
