<myanili-navbar-top></myanili-navbar-top>
<ng-container *ngIf="loggedIn && loggedIn != '***loading***'">
  <router-outlet></router-outlet>
  <div class="busy-overlay" *ngIf="busy">
    <myanili-icon *ngIf="!loadingPercent" name="loading" [size]="64"></myanili-icon>
    <myanili-icon-progress
      *ngIf="loadingPercent"
      [percent]="loadingPercent"
      [size]="64"
      name="loading"
    ></myanili-icon-progress>
  </div>
</ng-container>
<div class="buffer" *ngIf="!hideNavbar"></div>
<myanili-navbar-bottom *ngIf="loggedIn && loggedIn != '***loading***'"></myanili-navbar-bottom>
