<myanili-header [header]="title"></myanili-header>
<section>
  <myanili-manga-list *ngIf="layout === 'list'" [mangas]="mangas"></myanili-manga-list>
  <myanili-manga-grid *ngIf="layout !== 'list'" [mangas]="mangas"></myanili-manga-grid>
  <div
    *ngIf="mangas.length && !loadedAll"
    style="position: absolute; margin-top: -500px; padding-top: 450px; height: 50px"
    inViewport
    (inViewportAction)="handleScroll($event)"
  >
    &nbsp;
  </div>
  <div *ngIf="loading" class="text-center">
    <myanili-icon name="loading"></myanili-icon>
    Loading more...
  </div>
</section>
