<section>
  <table class="table table-sm table-hover table-striped table-responsive-md" darkTable>
    <thead class="sticky">
      <tr>
        <th
          class="d-lg-table-cell"
          [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
        >
          Name
        </th>
        <th class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">English Name</th>
        <th class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">Japanese Name</th>
        <th class="d-none d-sm-table-cell">Author</th>
        <th><span class="d-none d-md-inline">Platform</span></th>
        <th>Chapter</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let manga of mangas">
        <tr
          class="cursor-pointer"
          [class]="{
            'fw-bold': manga.list_status.status === 'reading' && !manga.my_extension?.ongoing
          }"
          routerLink="/manga/details/{{ manga.node.id }}"
        >
          <td
            class="d-lg-table-cell"
            [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
          >
            {{ manga.my_extension?.displayName || manga.node.title }}
          </td>
          <td class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">
            {{ manga.node.alternative_titles?.en || manga.node.title }}
          </td>
          <td class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">
            {{ manga.node.alternative_titles?.ja }}
          </td>
          <td class="d-none d-sm-table-cell">
            <div *ngFor="let author of getAuthor(manga.node)">{{ author }}</div>
          </td>
          <td>
            <app-platform [provider]="manga.my_extension?.platform"> </app-platform>
          </td>
          <td style="white-space: nowrap">
            <app-icon-progress
              *ngIf="manga.list_status.status === 'reading'"
              [percent]="
                manga.node.num_chapters
                  ? (manga.list_status.num_chapters_read / (manga.node.num_chapters || 0)) * 100
                  : 0
              "
            ></app-icon-progress>
            {{ manga.list_status.num_chapters_read }}/{{ manga.node.num_chapters || '?' }}
          </td>
          <td>{{ manga.list_status.num_volumes_read }}/{{ manga.node.num_volumes || '?' }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
