<div class="row">
  <div class="col-5">Bangumi</div>
  <div class="col-7">
    @if (bangumiLoggedIn) {
      <myanili-icon-bangumi class="me-1"></myanili-icon-bangumi>
      <a [href]="getProfileUrl()" target="_blank">{{
        bangumiLoggedIn.nickname || bangumiLoggedIn.username || 'Connected'
      }}</a>
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="bangumiLogoff()"
      ></myanili-icon>
    } @else {
      <button class="btn btn-sm btn-primary" (click)="bangumiConnect()" [disabled]="bangumiLoading">
        @if (bangumiLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-bangumi></myanili-icon-bangumi>
        }
        Connect
      </button>
    }
  </div>
</div>
