$primary: hsl(214, 60%, 32%);
$secondary: hsl(208, 7%, 46%);
$info: hsl(188, 78%, 41%);
$success: hsl(94, 60%, 32%);
$warning: hsl(34, 77%, 49%);
$error: hsl(334, 60%, 32%);
$light: hsl(210, 17%, 98%);
$dark: hsl(210, 11%, 15%);
$border-radius: 0.5rem;
$border-radius-sm: 0.4rem;

$theme-colors: (
    'blue': $primary,
    'primary': $primary,
    'secondary': $secondary,
    'red': $error,
    'danger': $error,
    'green': $success,
    'success': $success,
    'yellow': $warning,
    'warning': $warning,
    'spotify': hsl(141, 73%, 42%),
    'trakt': hsl(358, 85%, 52%),
    'light': $light,
    'dark': $dark // "white": #eff7ff
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$border-width: 1px;
$border-color: #dee2e6;

@mixin styles {
    @media (prefers-color-scheme: light) {
        --bs-lightmode-text: currentcolor;
    }
}