<span class="d-inline-block me-2" style="position: relative">
  @if (provider) {
    <svg-icon
      class="d-md-inline d-none"
      [ngClass]="{
        'd-none': variant !== 'full',
      }"
      [svgStyle]="{ 'width.rem': '5', 'height.rem': '1', verticalAlign: 'text-bottom' }"
      src="/assets/stream/{{ provider }}.svg"
    ></svg-icon>
    <svg-icon
      [ngClass]="{
        'd-none': variant === 'full',
        'd-md-none': !variant,
      }"
      [svgStyle]="{ 'width.rem': '1', 'height.rem': '1', verticalAlign: 'text-bottom' }"
      src="/assets/stream/{{ provider }}.icon.svg"
    ></svg-icon>
    <span class="flag">{{ country | flag: true }}</span>
  }
  @if (!provider) {
    <svg class="d-md-inline d-none" style="width: 5rem; height: 1rem"></svg>
    <svg class="d-md-none" style="width: 1rem; height: 1rem"></svg>
  }
</span>
