<span class="d-inline-block me-2" style="position: relative" *ngIf="provider">
  <img
    class="d-md-inline d-none"
    style="width: 5rem; height: 1rem; vertical-align: text-bottom"
    alt="{{ provider }}"
    src="/assets/stream/{{ provider || 'plex' }}.svg"
  />
  <img
    class="d-md-none"
    style="width: 1rem; height: 1rem; vertical-align: text-bottom"
    alt="{{ provider }}"
    src="/assets/stream/icon-{{ provider || 'plex' }}.svg"
  />
  <span class="flag">{{ country | flag: true }}</span>
</span>
