<div class="d-flex border rounded justify-content-between">
  <img
    loading="lazy"
    [src]="left.poster || '/assets/blank-poster.svg'"
    [routerLink]="left.link"
    class="poster rounded-start cursor-pointer"
  />
  <div class="d-flex flex-fill justify-content-between flex-column p-3">
    <div [routerLink]="left.link" class="cursor-pointer">
      {{ left.title }}
      @if (left.subtitle) {
        <div class="text-muted">{{ left.subtitle }}</div>
      }
    </div>
    @if (right) {
      <div class="text-end cursor-pointer" [routerLink]="right.link">
        {{ right.title }}
        @if (right.subtitle) {
          <div class="text-muted">{{ right.subtitle }}</div>
        }
      </div>
    }
  </div>
  @if (right && right.title) {
    <img
      loading="lazy"
      [src]="right.poster || '/assets/blank-poster.svg'"
      [routerLink]="right.link"
      class="poster rounded-end cursor-pointer"
    />
  }
</div>
