<section class="container-fluid sticky-header py-3 bg-white">
  <form class="input-group" (submit)="search()">
    <input
      class="form-control"
      [(ngModel)]="query"
      [ngModelOptions]="{ standalone: true }"
      #searchbar
    />
    <button class="btn btn-primary" (click)="search()">
      <app-icon name="search"></app-icon>
    </button>
  </form>
</section>

<section class="pb-3" *ngIf="showFilters">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mb-3">
        <select class="form-control" [(ngModel)]="filter.type" multiple>
          <option *ngFor="let type of allFilters.type" [value]="type">
            {{ type | mal: 'mediatype' }}
          </option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <select class="form-control" [(ngModel)]="filter.genre" multiple>
          <option *ngFor="let genre of allFilters.genre" [value]="genre">
            {{ genre }}
          </option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <select class="form-control" [(ngModel)]="filter.status" multiple>
          <option *ngFor="let status of allFilters.status" [value]="status">
            {{ status | mal: 'mystatus' }}
          </option>
        </select>
      </div>
    </div>
    <div class="btn btn-primary d-block" (click)="filterResults()">
      <app-icon name="funnel"></app-icon>
      Filter
    </div>
  </div>
</section>

<section>
  <table class="table table-sm table-hover table-striped table-responsive-md" darkTable>
    <thead class="sticky">
      <tr>
        <th>
          <app-icon
            [name]="
              filter.type.length || filter.status.length || filter.genre.length
                ? 'funnel-fill'
                : 'funnel'
            "
            class="mx-2 cursor-pointer"
            (click)="showFilters = !showFilters"
          ></app-icon>
        </th>
        <th
          class="d-lg-table-cell"
          [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
        >
          Name
        </th>
        <th class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">English Name</th>
        <th class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">Japanese Name</th>
        <th class="d-none d-md-table-cell">Genres</th>
        <th>Type</th>
        <th>Score</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let result of resultsFiltered">
        <tr
          class="cursor-pointer"
          [class]="{
            'fw-bold':
              result.my_list_status?.status === 'watching' ||
              result.my_list_status?.status === 'reading',
            'text-muted': result.my_list_status?.status === 'dropped'
          }"
          (click)="open(result.id)"
        >
          <td>
            <app-icon-status
              class="mx-2"
              *ngIf="result.my_list_status"
              [status]="result.my_list_status!.status"
            ></app-icon-status>
          </td>
          <td
            class="d-lg-table-cell"
            [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
          >
            {{ result.title }}
          </td>
          <td class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">
            {{ result.alternative_titles?.en || result.title }}
          </td>
          <td class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">
            {{ result.alternative_titles?.ja }}
          </td>
          <td class="d-none d-md-table-cell">
            <span *ngFor="let genre of result.genres" class="badge bg-primary rounded-pill me-1">
              {{ genre.name }}
            </span>
          </td>

          <td>
            <app-icon name="{{ result.media_type | mal: 'mediaicon' }}"></app-icon>
            <span class="d-none d-md-inline ms-1">{{ result.media_type | mal: 'mediatype' }}</span>
          </td>
          <td class="text-nowrap">
            <circle-progress
              [percent]="(result.mean || 0) * 10"
              [outerStrokeColor]="
                result!.mean >= 8
                  ? '#4a8220'
                  : result!.mean >= 7
                  ? '#204a82'
                  : result!.mean >= 5
                  ? '#825820'
                  : '#82204a'
              "
            ></circle-progress>
            <span class="ms-1">{{ result.mean | number: '1.2-5' }}</span>
          </td>
          <td>{{ result.start_date | date: 'y' }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
