<div class="row">
  <div class="col-5">MangaBaka</div>
  <div class="col-7">
    @if (mangabakaLoggedIn) {
      <myanili-icon-mangabaka class="me-1"></myanili-icon-mangabaka>
      <a [href]="getProfileUrl()" target="_blank">{{ mangabakaLoggedIn.name || 'Connected' }}</a>
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="mangabakaLogoff()"
      ></myanili-icon>
    } @else {
      @if (needsReauth) {
        <small class="text-warning d-block mb-1">
          MangaBaka now uses OAuth. Please reconnect your account.
        </small>
      }
      <button
        class="btn btn-sm btn-primary"
        (click)="mangabakaConnect()"
        [disabled]="mangabakaLoading"
      >
        @if (mangabakaLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-mangabaka></myanili-icon-mangabaka>
        }
        Connect
      </button>
    }
  </div>
</div>
