<div class="modal-header">
  <div class="input-group">
    <input class="form-control" [(ngModel)]="title" />
    <button class="btn btn-primary" (click)="ngOnInit()">
      <app-icon name="search"></app-icon>
    </button>
  </div>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss()"
  ></button>
</div>
<table class="table table-striped table-hover" darkTable>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>
        <app-icon name="link" size="20"></app-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let show of shows">
      <td>{{ show.show.title }}</td>
      <td>{{ show.show.year }}</td>
      <td>
        <app-icon
          class="cursor-pointer"
          size="20"
          name="link"
          (click)="modal.close(show.show.ids.slug || show.show.ids.trakt)"
        ></app-icon>
      </td>
    </tr>
  </tbody>
</table>
