<div class="container mb-3">
    <div *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" class="card mt-3">
      <div class="card-header">
        {{ getDay(day) }}
      </div>
  
      <div class="card-body" *ngIf="getAnimes((day + today) % 7).length">
        <div *ngFor="let anime of getAnimes((day + today) % 7)" class="entry">
          <span class="me-3">{{ anime.my_extension!.simulTime?.substr(0, 5) | time }}</span>
          <span class="me-3 d-inline-block" style="position: relative">
            <img
              class="d-md-inline d-none"
              style="width: 5rem; height: 1rem; vertical-align: text-bottom"
              alt="{{ anime.my_extension!.externalStreaming }}"
              src="/assets/stream/{{ anime.my_extension!.externalStreaming || 'plex' }}.svg"
            />
            <img
              class="d-md-none"
              style="width: 1rem; height: 1rem; vertical-align: text-bottom"
              alt="{{ anime.my_extension!.externalStreaming }}"
              src="/assets/stream/icon-{{ anime.my_extension!.externalStreaming || 'plex' }}.svg"
            />
            <span class="flag">{{ anime.my_extension!.simulCountry | flag: true }}</span>
          </span>
          <span [routerLink]="'/anime/details/' + anime.node.id" class="cursor-pointer">
            {{ anime.node.title }}
          </span>
        </div>
      </div>
    </div>
  </div>
  