<div class="row">
  @if (anime!.opening_themes.length) {
    <div class="col-sm-6 mb-3">
      <strong class="text-dark">Opening{{ anime!.opening_themes.length > 1 ? 's' : '' }}</strong>
      @for (song of anime!.opening_themes; track song) {
        <div class="mt-2">
          {{ song.text }}
        </div>
      }
    </div>
  }
  @if (anime!.ending_themes.length) {
    <div class="col-sm-6 mb-3">
      <strong class="text-dark">Ending{{ anime!.ending_themes.length > 1 ? 's' : '' }}</strong>
      @for (song of anime!.ending_themes; track song) {
        <div class="mt-2">
          {{ song.text }}
        </div>
      }
    </div>
  }
</div>
<div class="my-3">
  <myanili-icon-aniplaylist class="me-1"></myanili-icon-aniplaylist>
  <a
    target="_blank"
    href="https://aniplaylist.com/{{ anime?.alternative_titles?.ja || anime?.title }}"
    class="link"
    >Find Streams</a
  >
</div>
