<div class="row">
  <div class="col-sm-6 mb-3" *ngIf="anime!.opening_themes?.length">
    <strong class="text-dark"
      >Opening{{ (anime!.opening_themes?.length || 0) > 1 ? 's' : '' }}</strong
    >
    <div *ngFor="let song of anime!.opening_themes" class="mt-2">
      {{ song.text }}
      <a
        class="link-spotify"
        *ngIf="getSongUrl(song.spotify) && !edit"
        [href]="getSongUrl(song.spotify)"
        target="_blank"
      >
        <app-icon-spotify></app-icon-spotify>
      </a>
      <app-icon-spotify
        *ngIf="edit"
        class="cursor-pointer"
        [class]="{ 'link-spotify': song.spotify }"
        (click)="setSongUrl(song)"
      ></app-icon-spotify>
    </div>
  </div>
  <div class="col-sm-6 mb-3" *ngIf="anime!.ending_themes?.length">
    <strong class="text-dark"
      >Ending{{ (anime!.ending_themes?.length || 0) > 1 ? 's' : '' }}</strong
    >
    <div *ngFor="let song of anime!.ending_themes" class="mt-2">
      {{ song.text }}
      <a
        class="link-spotify"
        *ngIf="getSongUrl(song.spotify) && !edit"
        [href]="getSongUrl(song.spotify)"
        target="_blank"
      >
        <app-icon-spotify></app-icon-spotify>
      </a>
      <app-icon-spotify
        *ngIf="edit"
        class="cursor-pointer"
        [class]="{ 'link-spotify': song.spotify }"
        (click)="setSongUrl(song)"
      ></app-icon-spotify>
    </div>
  </div>
</div>
