<div class="container my-sm-3 border-sm-x border-sm-y rounded">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ person?.name?.full || 'Loading…' }}
      @if (person?.siteUrl) {
        <a [href]="$safeNavigationMigration(person?.siteUrl)" target="_blank">
          <myanili-icon-anilist
            size="38"
            style="vertical-align: bottom; line-height: 0.5"
          ></myanili-icon-anilist>
        </a>
      }
    </h2>
  </header>
  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <picture>
        @if (person?.image) {
          <source srcset="{{ person?.image }}" />
        }
        <source srcset="/assets/blank-poster.svg" />
        <img src="/assets/blank-poster.svg" alt="poster" width="100%" class="rounded" />
      </picture>
    </div>
    @if (person) {
      <div class="col-sm-7 col-md-8 mb-3">
        @if (person.name.native) {
          <myanili-value-pair name="Name" [value]="person.name.native"></myanili-value-pair>
        }
        @if (birthday) {
          <myanili-value-pair name="Birthday" [value]="birthday"></myanili-value-pair>
        }
        @if (person.name.alternative?.length) {
          <myanili-value-pair name="Alias">
            @for (name of person.name.alternative; track name) {
              <div>{{ name }}</div>
            }
          </myanili-value-pair>
        }
        @if (person.primaryOccupations?.length) {
          <myanili-value-pair name="Occupation">
            {{ person.primaryOccupations?.join(', ') }}
          </myanili-value-pair>
        }
        <div class="row">
          <div class="d-none d-md-block col-md-4 fw-bold text-end">About</div>
          <div
            class="col-12 col-md-8"
            [innerHTML]="person.description || ''"
            (click)="onDescriptionClick($event)"
          ></div>
        </div>
      </div>
    }
  </div>

  @if (person) {
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Anime</a>
        <ng-template ngbNavContent>
          <myanili-person-anime [personId]="id"></myanili-person-anime>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Manga</a>
        <ng-template ngbNavContent>
          <myanili-person-manga [personId]="id"></myanili-person-manga>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Staff</a>
        <ng-template ngbNavContent>
          <myanili-person-staff [personId]="id"></myanili-person-staff>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2 mb-3"></div>
  }
</div>
