<div class="container mt-sm-3 border-sm-x border-sm-y rounded">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ person?.data?.name || 'Loading…' }}
      <a [href]="'https://myanimelist.net/people/' + id" target="_blank">
        <myanili-icon-mal
          size="38"
          style="vertical-align: bottom; line-height: 0.5"
        ></myanili-icon-mal>
      </a>
    </h2>
  </header>
  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <picture>
        <source
          *ngIf="person?.data?.images?.jpg?.image_url"
          srcset="{{ person?.data?.images?.jpg?.image_url }}"
        />
        <source srcset="/assets/blank-poster.svg" />
        <img src="/assets/blank-poster.svg" alt="poster" width="100%" class="rounded" />
      </picture>
    </div>
    <div class="col-sm-7 col-md-8 mb-3" *ngIf="person">
      <myanili-value-pair *ngIf="person.data.given_name || person.data.family_name" name="Name">
        {{ person.data.family_name }} {{ person.data.given_name }}
      </myanili-value-pair>
      <myanili-value-pair *ngIf="person.data.birthday" name="Birthday">
        {{ person.data.birthday | date }}
      </myanili-value-pair>
      <myanili-value-pair *ngIf="person.data.alternate_names.length" name="Alias">
        <div *ngFor="let name of person.data.alternate_names">{{ name }}</div>
      </myanili-value-pair>
      <myanili-value-pair *ngIf="person.data.website_url" name="Website">
        <a [href]="person.data.website_url" target="_blank">{{ person.data.website_url }}</a>
      </myanili-value-pair>
      <div class="row">
        <div class="d-none d-md-block col-md-4 fw-bold text-end">About</div>
        <div class="col-12 col-md-8" [innerHTML]="person.data.about || '' | nl2br"></div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="person">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Anime</a>
        <ng-template ngbNavContent>
          <myanili-person-anime [malId]="id"></myanili-person-anime>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Manga</a>
        <ng-template ngbNavContent>
          <myanili-person-manga [malId]="id"></myanili-person-manga>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Staff</a>
        <ng-template ngbNavContent>
          <myanili-person-staff [malId]="id"></myanili-person-staff>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 mb-3"></div>
  </ng-container>
</div>
