<div class="grid m-2">
  <myanili-media-card
    *ngFor="let anime of animes"
    [status]="anime.my_list_status?.status"
    [poster]="anime.main_picture?.medium || anime.main_picture?.large"
    [title]="
      anime.my_extension?.displayName ||
      ((settings.language$ | async) === 'en'
        ? anime.alternative_titles?.en
        : (settings.language$ | async) === 'jp'
        ? anime.alternative_titles?.ja
        : anime.title) ||
      anime.title ||
      ''
    "
    [progress]="anime.my_list_status?.num_episodes_watched"
    [parts]="anime.num_episodes"
    [mediaType]="anime.media_type"
  >
    <div class="p-2" style="min-height: 100%" routerLink="/anime/details/{{ anime.id }}">
      <div class="fw-bold">
        <myanili-icon
          *ngIf="anime.media_type"
          name="{{ anime.media_type | mal : 'mediaicon' }}"
          class="me-1"
        ></myanili-icon>
        {{
          anime.my_extension?.displayName ||
            ((settings.language$ | async) === 'en'
              ? anime.alternative_titles?.en
              : (settings.language$ | async) === 'jp'
              ? anime.alternative_titles?.ja
              : anime.title) ||
            anime.title ||
            ''
        }}
      </div>
      <small>
        <div class="mb-2">
          <span
            class="badge text-bg-primary rounded-pill me-1"
            *ngFor="let genre of anime.genres"
            >{{ genre.name }}</span
          >
        </div>
        <div *ngIf="anime.studios?.length">
          <span *ngFor="let studio of anime.studios" class="dot-between fw-bold">{{
            studio.name
          }}</span>
        </div>
        <div *ngIf="anime.source">Source: {{ anime.source | mal : 'mediatype' }}</div>
        <div>
          <ng-container *ngIf="anime.my_list_status; else addanime">
            Status:
            {{ anime.my_list_status.status | mal : 'mystatus' }}
            <myanili-icon-status [status]="anime.my_list_status.status"></myanili-icon-status>
          </ng-container>
          <ng-template #addanime>
            <span class="cursor-pointer" (click)="addToList(anime, $event)">
              <myanili-icon [name]="anime.busy ? 'loading' : 'plus'" size="20"></myanili-icon>
              Add to my list
            </span>
          </ng-template>
        </div>
        <myanili-streaming
          *ngIf="anime.my_extension?.externalStreaming"
          [provider]="anime.my_extension?.externalStreaming"
          [country]="anime.my_extension?.simulcast?.country"
          variant="full"
        ></myanili-streaming>
        <div class="mt-2 hyphens" *ngIf="anime.synopsis">{{ anime.synopsis }}</div>
      </small>
    </div>
  </myanili-media-card>
</div>
