.card-overlay {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-shadow: 0 0 3px black;
  font-weight: 600;
  max-height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

picture {
  height: 100%;
}

img {
  height: 100%;
}

.mediatype {
  display: block;
  position: absolute;
  padding: 0.25rem 0.25rem 0 0.5rem;
  background: rgb(255 255 255 / 0.7);
  box-shadow: 0 0 0.5rem 0.5rem rgb(255 255 255 / 70%);
  border-bottom-right-radius: 0.5rem;
  font-weight: bold;
}

.card {
  overflow: hidden;
}
