<div class="grid">
  <myanili-media-card
    *ngFor="let anime of animes"
    [status]="anime.my_list_status?.status"
    [poster]="anime.main_picture?.medium || anime.main_picture?.large"
    [title]="
      anime.my_extension?.displayName ||
      (lang === 'en'
        ? anime.alternative_titles?.en
        : lang === 'jp'
        ? anime.alternative_titles?.ja
        : anime.title) ||
      anime.title ||
      ''
    "
    [progress]="anime.my_list_status?.num_episodes_watched"
    [parts]="anime.num_episodes"
    [mediaType]="anime.media_type"
    routerLink="/anime/details/{{ anime.id }}"
  ></myanili-media-card>
</div>
