<div class="grid m-2">
  @for (anime of animes; track anime) {
    <myanili-media-card
      [status]="anime.my_list_status?.status"
      [poster]="anime.main_picture?.medium || anime.main_picture?.large"
      [title]="
        anime.my_extension?.displayName ||
        ((settings.language$ | async) === 'en'
          ? anime.alternative_titles?.en
          : (settings.language$ | async) === 'jp'
            ? anime.alternative_titles?.ja
            : anime.title) ||
        anime.title ||
        ''
      "
      [progress]="anime.my_list_status?.num_episodes_watched"
      [parts]="anime.num_episodes"
      [mediaType]="anime.media_type"
    >
      <div class="p-2" style="min-height: 100%" routerLink="/anime/details/{{ anime.id }}">
        <div class="fw-bold">
          @if (anime.media_type) {
            <myanili-icon
              name="{{ anime.media_type | mal: 'mediaicon' }}"
              class="me-1"
            ></myanili-icon>
          }
          {{
            anime.my_extension?.displayName ||
              ((settings.language$ | async) === 'en'
                ? anime.alternative_titles?.en
                : (settings.language$ | async) === 'jp'
                  ? anime.alternative_titles?.ja
                  : anime.title) ||
              anime.title ||
              ''
          }}
        </div>
        <small>
          <div class="mb-2">
            @for (genre of anime.genres; track genre) {
              <span class="badge text-bg-primary rounded-pill me-1">{{ genre.name }}</span>
            }
          </div>
          @if (anime.studios?.length) {
            <div>
              @for (studio of anime.studios; track studio) {
                <span class="dot-between fw-bold">{{ studio.name }}</span>
              }
            </div>
          }
          @if (anime.source) {
            <div>Source: {{ anime.source | mal: 'mediatype' }}</div>
          }
          <div>
            @if (anime.my_list_status) {
              Status:
              {{ anime.my_list_status.status | mal: 'mystatus' }}
              <myanili-icon-status [status]="anime.my_list_status.status"></myanili-icon-status>
            } @else {
              <span class="cursor-pointer" (click)="addToList(anime, $event)">
                <myanili-icon [name]="anime.busy ? 'loading' : 'plus'" size="20"></myanili-icon>
                Add to my list
              </span>
            }
          </div>
          @if (anime.my_extension?.externalStreaming) {
            <myanili-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulcast?.country"
              variant="full"
            ></myanili-streaming>
          }
          @if (anime.synopsis) {
            <div class="mt-2 hyphens">{{ anime.synopsis }}</div>
          }
        </small>
      </div>
    </myanili-media-card>
  }
</div>
