<div class="grid grid-2x">
  @for (character of characters; track character) {
    <div class="d-flex border rounded justify-content-between">
      <img
        loading="lazy"
        [src]="character.character.image || '/assets/blank-poster.svg'"
        [routerLink]="'/character/' + character.character.id"
        class="poster rounded-start cursor-pointer"
      />
      <div class="d-flex flex-fill justify-content-between flex-column p-3">
        <div [routerLink]="'/character/' + character.character.id" class="cursor-pointer">
          {{ character.character.name }}
          <div class="text-muted">{{ character.role }}</div>
        </div>
        @if (getVoiceActor(character); as voiceActor) {
          <div class="text-end cursor-pointer" [routerLink]="'/person/' + voiceActor.id">
            {{ voiceActor.name }}
          </div>
        }
      </div>
      @if (getVoiceActor(character); as voiceActor) {
        <img
          loading="lazy"
          [src]="voiceActor.image || '/assets/blank-poster.svg'"
          [routerLink]="'/person/' + voiceActor.id"
          class="poster rounded-end cursor-pointer"
        />
      }
    </div>
  }
</div>
