<div class="container mt-sm-3 border-sm-x border-sm-y rounded" [class]="{ 'modal-body': inModal }">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ manga?.title || title || 'Loading…' }}
    </h2>
    <div class="ms-auto ps-3 cursor-pointer" *ngIf="manga?.title" style="white-space: nowrap">
      <ng-container *ngIf="manga?.my_list_status; else add">
        <myanili-icon
          [name]="busy ? 'hourglass-split' : edit ? 'check2' : 'pencil'"
          size="24"
          (click)="editSave()"
        ></myanili-icon>
        <myanili-icon
          *ngIf="edit && !busy"
          name="x"
          size="24"
          class="ms-3"
          (click)="stopEdit()"
        ></myanili-icon>
      </ng-container>
      <ng-template #add>
        <myanili-icon
          [name]="busy ? 'hourglass-split' : 'plus'"
          size="24"
          (click)="editSave()"
        ></myanili-icon>
      </ng-template>
    </div>
  </header>
  <!-- <hr class="mt-0" /> -->
  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <ng-container *ngIf="!edit">
        <picture>
          <source
            *ngIf="manga && manga.main_picture"
            srcset="{{ manga.main_picture.large || manga.main_picture.medium }}"
          />
          <source srcset="/assets/blank-poster.svg" />
          <img src="/assets/blank-poster.svg" alt="poster" width="100%" class="rounded-top" />
        </picture>
        <div class="progress" style="border-radius: 0 0 0.5rem 0.5rem; position: relative">
          <div
            *ngIf="meanRating"
            class="progress-bar"
            role="progressbar"
            [ngClass]="{
              'bg-success': meanRating >= 80,
              'bg-warning': meanRating < 70 && meanRating >= 50,
              'bg-danger': meanRating < 50,
              'progress-bar-striped': !manga?.my_list_status?.score
            }"
            [ngStyle]="{ 'width.%': meanRating }"
            aria-valuemin="0"
            aria-valuemax="10"
          >
            {{ meanRating / 10 | number: '1.0-2' }}
          </div>
        </div>
      </ng-container>
      <div class="row mt-2" *ngIf="edit && editBackup">
        <div class="col-4 fw-bold text-end">My&nbsp;Score</div>
        <div class="col-8">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editBackup.score"
            min="0"
            max="10"
            type="number"
            [disabled]="busy"
            enterkeyhint="done"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-8 mb-3">
      <div class="row" *ngIf="manga?.my_extension?.displayName && !edit">
        <div class="col-4 fw-bold text-end">Display</div>
        <div class="col-8">{{ manga?.my_extension?.displayName }}</div>
      </div>
      <div class="row my-2" *ngIf="edit && manga && editExtension">
        <div class="col-4 fw-bold text-end">Display</div>
        <div class="col-8">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.displayName"
            [disabled]="busy"
            enterkeyhint="done"
          />
        </div>
      </div>
      <div class="row" *ngIf="manga?.alternative_titles?.en">
        <div class="col-4 fw-bold text-end">English</div>
        <div class="col-8">{{ manga?.alternative_titles?.en }}</div>
      </div>
      <div class="row" *ngIf="manga?.alternative_titles?.ja">
        <div class="col-4 fw-bold text-end">Japanese</div>
        <div class="col-8">{{ manga?.alternative_titles?.ja }}</div>
      </div>
      <div class="row" *ngIf="manga?.alternative_titles?.synonyms?.length">
        <div class="col-4 fw-bold text-end">Synonyms</div>
        <div class="col-8">
          <div *ngFor="let title of manga?.alternative_titles?.synonyms" [innerHtml]="title"></div>
        </div>
      </div>
      <div class="row" *ngIf="manga?.authors && manga?.authors?.length">
        <div class="col-4 fw-bold text-end">Author</div>
        <div class="col-8">
          <div
            *ngFor="let author of manga!.authors"
            class="cursor-pointer link-primary"
            [routerLink]="'/person/' + author.node.id"
          >
            {{ author.node.last_name }} {{ author.node.first_name }} ({{ author.role }})
          </div>
        </div>
      </div>
      <div class="row" *ngIf="manga">
        <div class="col-4 fw-bold text-end">Type</div>
        <div class="col-8">
          <myanili-icon name="{{ manga.media_type | mal: 'mediaicon' }}" class="me-1"></myanili-icon>
          {{ manga!.media_type | mal: 'mediatype' }}
        </div>
      </div>
      <div class="row" *ngIf="manga?.serialization?.length">
        <div class="col-4 fw-bold text-end">Serialization</div>
        <div class="col-8">
          <div
            class="link-primary cursor-pointer"
            *ngFor="let magazine of manga!.serialization!"
            [routerLink]="'/manga/magazine/' + magazine.node.id"
          >
            {{ magazine.node.name }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="manga && manga.start_date">
        <div class="col-4 fw-bold text-end">Published</div>
        <div class="col-8">
          <span class="text-nowrap">{{ manga.start_date | date }}</span>
          <span *ngIf="manga.start_date !== manga.end_date"> &ndash; </span>
          <span class="text-nowrap" *ngIf="manga.end_date && manga.start_date !== manga.end_date">{{
            manga!.end_date | date
          }}</span>
        </div>
      </div>
      <div class="row" *ngIf="manga?.my_list_status" [class]="{ 'my-2': edit }">
        <div class="col-4 fw-bold text-end">My&nbsp;List</div>
        <div class="col-8">
          <ng-container *ngIf="edit && editBackup; then mylistedit; else mylist"></ng-container>
          <ng-template #mylist
            >{{
              manga!.my_list_status!.is_rereading
                ? 'Rewatching'
                : (manga!.my_list_status!.status | mal: 'mystatus')
            }}
            <myanili-icon
              *ngIf="
                manga!.my_list_status?.status === 'plan_to_read' ||
                manga!.my_list_status?.status === 'on_hold'
              "
              name="play-circle"
              class="cursor-pointer me-1"
              (click)="setStatus('reading')"
            ></myanili-icon>
            <myanili-icon
              *ngIf="manga!.my_list_status?.status === 'reading'"
              name="pause-circle"
              class="cursor-pointer me-1"
              (click)="setStatus('on_hold')"
            ></myanili-icon>

            <myanili-icon
              *ngIf="
                manga!.my_list_status?.status === 'completed' &&
                !manga!.my_list_status?.is_rereading
              "
              name="arrow-counterclockwise"
              class="cursor-pointer me-1"
              (click)="reread()"
            ></myanili-icon>
          </ng-template>
          <ng-template #mylistedit>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="editBackup!.status"
              [disabled]="busy"
            >
              <option
                *ngFor="
                  let status of ['reading', 'completed', 'on_hold', 'dropped', 'plan_to_read']
                "
                [value]="status"
              >
                {{ status | mal: 'mystatus' }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <div class="row" *ngIf="!edit && manga && manga.my_extension && manga.my_extension.platform">
        <div class="col-4 fw-bold text-end">Platform</div>
        <div class="col-8">
          <a
            *ngIf="manga.my_extension.platformId"
            href="{{ manga.my_extension.platform | platform: 'urlprefix' }}{{
              manga.my_extension.platformId
            }}{{ manga.my_extension.platform | platform: 'urlpostfix' }}"
            target="_blank"
          >
            <svg-icon
              [svgStyle]="{ 'maxWidth.rem': '5', 'maxHeight.rem': '1' }"
              class="ml-1"
              src="/assets/platform/{{ manga.my_extension.platform }}.svg"
            ></svg-icon>
          </a>
          <svg-icon
            *ngIf="!manga.my_extension.platformId"
            [svgStyle]="{ 'maxWidth.rem': '5', 'maxHeight.rem': '1' }"
            class="ml-1"
            src="/assets/platform/{{ manga.my_extension?.platform }}.svg"
          ></svg-icon>
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && manga && editExtension">
        <div class="col-4 fw-bold text-end">Platform</div>
        <div class="col-8">
          <select
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.platform"
            [disabled]="busy"
          >
            <option *ngFor="let provider of platformPipe.platforms" [value]="provider.id">
              {{ provider.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && manga && editExtension">
        <div class="col-4 fw-bold text-end">ID</div>
        <div class="col-8">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.platformId"
            [disabled]="busy"
            enterkeyhint="done"
          />
        </div>
      </div>
      <div class="row" *ngIf="!edit && manga && manga.my_extension?.publisher">
        <div class="col-4 fw-bold text-end">Publisher</div>
        <div class="col-8">
          <a
            *ngIf="manga.my_extension?.publisherWebsite; else pubnolink"
            [href]="manga.my_extension?.publisherWebsite"
            target="_blank"
            class="link-primary"
          >
            {{ manga.my_extension?.publisher }}
          </a>
          <ng-template #pubnolink>
            {{ manga.my_extension?.publisher }}
          </ng-template>
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && manga && editExtension">
        <div class="col-4 fw-bold text-end">Publisher</div>
        <div class="col-8">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.publisher"
            [disabled]="busy"
            enterkeyhint="done"
          />
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && manga && editExtension">
        <div class="col-4 fw-bold text-end">Website</div>
        <div class="col-8">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.publisherWebsite"
            [disabled]="busy"
            enterkeyhint="done"
          />
        </div>
      </div>
      <div class="row" *ngIf="manga && !edit">
        <div class="col-4 fw-bold text-end">Progress</div>
        <div class="col-8">
          <myanili-icon
            *ngIf="
              (manga.my_list_status?.status === 'reading' || manga.my_list_status?.is_rereading) &&
              !edit
            "
            name="plus-circle"
            class="cursor-pointer me-1"
            (click)="plusOne('chapter')"
          ></myanili-icon>
          {{ manga!.my_list_status?.num_chapters_read || 0 }}/{{ manga!.num_chapters || '?' }}
          &middot;
          <myanili-icon
            *ngIf="
              (manga.my_list_status?.status === 'reading' || manga.my_list_status?.is_rereading) &&
              !edit
            "
            name="plus-circle"
            class="cursor-pointer me-1"
            (click)="plusOne('volume')"
          ></myanili-icon>
          {{ manga!.my_list_status?.num_volumes_read || 0 }}/{{ manga!.num_volumes || '?' }}
        </div>
      </div>

      <div *ngIf="manga">
        <div class="row" *ngIf="!edit">
          <div class="col-4 fw-bold text-end">Chapters</div>
          <div class="col-8">
            <div class="progress rounded-pill my-1">
              <div
                *ngIf="manga?.my_list_status?.num_chapters_read"
                class="progress-bar px-1"
                [ngClass]="{
                  'bg-success':
                    manga!.my_list_status?.num_chapters_read == manga!.num_chapters &&
                    manga!.num_chapters,
                  'bg-gradient': !manga!.num_chapters
                }"
                [ngStyle]="{
                  'min-width.%':
                    manga!.num_chapters || manga!.my_list_status?.num_chapters_read == 0
                      ? ((manga!.my_list_status?.num_chapters_read || 0) /
                          (manga!.num_chapters || 1)) *
                        100
                      : 30
                }"
              >
                {{ manga!.my_list_status?.num_chapters_read }}/{{ manga!.num_chapters || '?' }}
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editBackup">
          <div class="col-4 fw-bold text-end">Chapters</div>
          <div class="col-8">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                type="number"
                min="0"
                [max]="manga!.num_chapters || 9999"
                [(ngModel)]="editBackup!.num_chapters_read"
                [disabled]="busy"
                enterkeyhint="done"
              />
              <span class="input-group-text">/ {{ manga!.num_chapters || '?' }}</span>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editBackup">
          <div class="col-4 fw-bold text-end">Volumes</div>
          <div class="col-8">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                type="number"
                min="0"
                [max]="manga!.num_chapters || 9999"
                [(ngModel)]="editBackup!.num_volumes_read"
                [disabled]="busy"
                enterkeyhint="done"
              />
              <span class="input-group-text">/ {{ manga!.num_volumes || '?' }}</span>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editBackup">
          <div class="col-4 fw-bold text-end">Ongoing</div>
          <div class="col-8">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="ongoing"
                [checked]="editExtension?.ongoing"
                (change)="changeOngoing()"
              />
              <label class="form-check-label" for="ongoing"> Regular updates </label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!edit">
          <div class="col-4 fw-bold text-end">Links</div>
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <td class="text-nowrap">
                  <myanili-external-rating [rating]="getRating('mal')"></myanili-external-rating>
                </td>
              </div>
              <div class="col-8">
                <myanili-icon-mal class="text-primary"></myanili-icon-mal>
                <a [href]="'https://myanimelist.net/manga/' + id" target="_blank" class="ms-1"
                  >MyAnimeList</a
                >
              </div>
            </div>
            <div *ngIf="manga.my_extension?.anilistId" class="row">
              <div class="col-4">
                <td class="text-nowrap">
                  <myanili-external-rating [rating]="getRating('anilist')"></myanili-external-rating>
                </td>
              </div>
              <div class="col-8">
                <myanili-icon-anilist></myanili-icon-anilist>
                <a
                  class="ms-1"
                  [href]="'https://anilist.co/manga/' + manga.my_extension!.anilistId"
                  target="_blank"
                  >AniList</a
                >
              </div>
            </div>
            <div *ngIf="manga.my_extension?.kitsuId?.kitsuId" class="row">
              <div class="col-4">
                <td class="text-nowrap">
                  <myanili-external-rating [rating]="getRating('kitsu')"></myanili-external-rating>
                </td>
              </div>
              <div class="col-8">
                <myanili-icon-kitsu style="color: #e75e45"></myanili-icon-kitsu>
                <a
                  class="ms-1"
                  [href]="'https://kitsu.io/manga/' + manga.my_extension!.kitsuId!.kitsuId"
                  target="_blank"
                  >Kitsu</a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <td class="text-nowrap">
                  <myanili-external-rating
                    *ngIf="manga.my_extension?.bakaId"
                    [rating]="getRating('bu')"
                  ></myanili-external-rating>
                </td>
              </div>
              <div class="col-8">
                <myanili-icon-bakamanga></myanili-icon-bakamanga>
                <a
                  class="ms-1"
                  [ngClass]="{ 'link-secondary': !manga.my_extension?.bakaId }"
                  [href]="
                    manga.my_extension?.bakaId
                      ? 'https://www.mangaupdates.com/series.html?id=' + manga.my_extension?.bakaId
                      : 'https://www.mangaupdates.com/series.html?search=' + manga.title
                  "
                  target="_blank"
                  >Baka-Updates</a
                >
              </div>
            </div>
            <div *ngIf="manga.my_extension?.anisearchId" class="row">
              <div class="col-4">
                <td class="text-nowrap">
                  <myanili-external-rating [rating]="getRating('anisearch')"></myanili-external-rating>
                </td>
              </div>
              <div class="col-8">
                <myanili-icon-anisearch></myanili-icon-anisearch>
                <a
                  class="ms-1"
                  [href]="'https://anisearch.com/manga/' + manga.my_extension!.anisearchId"
                  target="_blank"
                  >AniSearch</a
                >
              </div>
            </div>
            <div *ngIf="manga.my_extension?.fandomSlug" class="row">
              <div class="col-4">
                <td class="text-nowrap"></td>
              </div>
              <div class="col-8">
                <myanili-icon-fandom></myanili-icon-fandom>
                <a
                  class="ms-1"
                  [href]="
                    manga.my_extension?.fandomSlug?.includes('.')
                      ? 'https://' + manga.my_extension!.fandomSlug
                      : 'https://' + manga.my_extension?.fandomSlug + '.fandom.com/'
                  "
                  target="_blank"
                  >Wiki</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && manga && editExtension">
          <div class="col-4 fw-bold text-end">Anilist</div>
          <div class="col-8">
            <input
              class="form-control form-control-sm"
              [(ngModel)]="editExtension!.anilistId"
              [disabled]="busy"
              enterkeyhint="done"
            />
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && manga && editExtension && enableKitsu()">
          <div class="col-4 fw-bold text-end">Kitsu</div>
          <div class="col-8">
            <input
              class="form-control form-control-sm"
              [(ngModel)]="editExtension!.kitsuId!.kitsuId"
              [disabled]="busy"
              enterkeyhint="done"
            />
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && manga && editExtension">
          <div class="col-4 fw-bold text-end">Baka-Updates</div>
          <div class="col-8">
            <div class="input-group input-group-sm">
              <input
                class="form-control form-control-sm"
                [(ngModel)]="editExtension!.bakaId"
                [disabled]="busy"
                enterkeyhint="done"
              />
              <button class="btn btn-primary" (click)="findBaka()">
                <myanili-icon-bakamanga></myanili-icon-bakamanga>
              </button>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editExtension">
          <div class="col-4 fw-bold text-end">AniSearch</div>
          <div class="col-8">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                [(ngModel)]="editExtension!.anisearchId"
                [disabled]="busy"
                enterkeyhint="done"
              />
              <button class="btn btn-primary" (click)="findAnisearch()">
                <myanili-icon-anisearch></myanili-icon-anisearch>
              </button>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && manga && editExtension">
          <div class="col-4 fw-bold text-end">Wiki</div>
          <div class="col-8">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                [(ngModel)]="editExtension!.fandomSlug"
                [disabled]="busy"
                enterkeyhint="done"
              />
              <span class="input-group-text" *ngIf="!editExtension!.fandomSlug?.includes('.')"
                >.fandom.com</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!edit && manga">
    <div class="mb-3">
      <span *ngFor="let genre of manga!.genres" class="badge rounded-pill bg-primary me-1">
        {{ genre.name }}
      </span>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <li [ngbNavItem]="1" *ngIf="manga.synopsis || manga.background">
        <a ngbNavLink>Synopsis</a>
        <ng-template ngbNavContent>
          <div class="mb-3" *ngIf="manga.synopsis" [innerHTML]="manga.synopsis || '' | nl2br"></div>
          <div class="mb-3" *ngIf="manga.background">
            <strong>Background</strong>
            <div [innerHTML]="manga.background || '' | nl2br"></div>
          </div>
        </ng-template>
      </li>
      <li
        [ngbNavItem]="2"
        *ngIf="!inModal && (manga?.related_anime?.length || manga?.related_manga?.length)"
      >
        <a ngbNavLink>Related</a>
        <ng-template ngbNavContent>
          <section *ngIf="!inModal">
            <myanili-manga-related [related_manga]="manga.related_manga"></myanili-manga-related>
            <myanili-anime-related [related_anime]="manga.related_anime" [has_covers]="false"></myanili-anime-related>
          </section>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Characters</a>
        <ng-template ngbNavContent>
          <myanili-manga-characters [id]="id"></myanili-manga-characters>
        </ng-template>
      </li>
      <li
        [ngbNavItem]="4"
        *ngIf="!inModal && manga.recommendations && manga.recommendations.length"
      >
        <a ngbNavLink>Recommendations</a>
        <ng-template ngbNavContent>
          <myanili-manga-recommendations
            [recommendations]="manga.recommendations"
          ></myanili-manga-recommendations>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-container>
  <button *ngIf="edit && !busy" class="btn btn-danger d-block my-3 mx-auto" (click)="deleteEntry()">
    <myanili-icon name="trash"></myanili-icon>
    Remove from list
  </button>
</div>
