<div class="container mt-sm-3 border-sm-x border-sm-y rounded" [class]="{ 'modal-body': inModal }">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ manga?.title || 'Loading…' }}
      <a [href]="'https://myanimelist.net/manga/' + id" target="_blank">
        <app-icon-mal size="38" style="vertical-align: bottom; line-height: 0.5"></app-icon-mal>
      </a>
    </h2>
    <div class="ms-auto ps-3 cursor-pointer" *ngIf="manga?.title" style="white-space: nowrap">
      <ng-container *ngIf="manga?.my_list_status; else add">
        <app-icon
          [name]="busy ? 'hourglass-split' : edit ? 'check2' : 'pencil'"
          size="24"
          (click)="editSave()"
        ></app-icon>
        <app-icon
          *ngIf="edit && !busy"
          name="x"
          size="24"
          class="ms-3"
          (click)="stopEdit()"
        ></app-icon>
      </ng-container>
      <ng-template #add>
        <app-icon
          [name]="busy ? 'hourglass-split' : 'plus'"
          size="24"
          (click)="editSave()"
        ></app-icon>
      </ng-template>
    </div>
  </header>
  <!-- <hr class="mt-0" /> -->
  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <ng-container *ngIf="!edit">
        <picture (click)="showGallery()">
          <source
            *ngIf="manga && manga.main_picture"
            srcset="{{ manga.main_picture.large || manga.main_picture.medium }}"
          />
          <source srcset="/assets/blank-poster.svg" />
          <img
            src="/assets/blank-poster.svg"
            alt="poster"
            width="100%"
            style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem"
          />
        </picture>
        <div
          class="progress"
          style="border-top-left-radius: 0; border-top-right-radius: 0; position: relative"
        >
          <div
            *ngIf="manga?.mean"
            class="progress-bar"
            role="progressbar"
            [ngClass]="{
              'bg-success': manga!.mean >= 8,
              'bg-warning': manga!.mean < 7 && manga!.mean >= 5,
              'bg-danger': manga!.mean < 5
            }"
            [ngStyle]="{ 'width.%': manga!.mean * 10 }"
            aria-valuemin="0"
            aria-valuemax="10"
          >
            {{ manga!.mean }}
            <ng-container *ngIf="manga && manga!.my_list_status && manga!.my_list_status!.score"
              >({{ manga!.my_list_status!.score }})</ng-container
            >
          </div>
          <div
            *ngIf="manga && manga!.my_list_status && manga!.my_list_status!.score"
            class="progress-personal border-end"
            [ngClass]="{ 'border-primary': manga!.my_list_status!.score > manga!.mean }"
            [ngStyle]="{ 'width.%': manga!.my_list_status!.score * 10 }"
          ></div>
        </div>
      </ng-container>
      <div class="row mt-2" *ngIf="edit && editBackup">
        <div class="col-6 fw-bold">My&nbsp;Score</div>
        <div class="col-6">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editBackup.score"
            min="0"
            max="10"
            type="number"
            [disabled]="busy"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-8 mb-3">
      <div class="row" *ngIf="manga?.alternative_titles?.en">
        <div class="col-4 fw-bold text-end">English</div>
        <div class="col-8">{{ manga?.alternative_titles?.en }}</div>
      </div>
      <div class="row" *ngIf="manga?.alternative_titles?.ja">
        <div class="col-4 fw-bold text-end">Japanese</div>
        <div class="col-8">{{ manga?.alternative_titles?.ja }}</div>
      </div>
      <div class="row" *ngIf="manga?.authors && manga?.authors?.length">
        <div class="col-4 fw-bold text-end">Author</div>
        <div class="col-8">
          <div *ngFor="let author of manga!.authors">
            {{ author.node.last_name }} {{ author.node.first_name }} ({{ author.role }})
          </div>
        </div>
      </div>
      <div class="row" *ngIf="manga">
        <div class="col-4 fw-bold text-end">Type</div>
        <div class="col-8">{{ manga!.media_type | mal: 'mediatype' }}</div>
      </div>
      <div class="row" *ngIf="manga?.serialization?.length">
        <div class="col-4 fw-bold text-end">Serialization</div>
        <div class="col-8">
          <div *ngFor="let magazine of manga!.serialization!">{{ magazine.node.name }}</div>
        </div>
      </div>
      <div class="row" *ngIf="manga && manga.start_date">
        <div class="col-4 fw-bold text-end">Published</div>
        <div class="col-8">
          <span class="text-nowrap">{{ manga.start_date | date }}</span>
          <span *ngIf="manga.start_date !== manga.end_date"> &ndash; </span>
          <span class="text-nowrap" *ngIf="manga.end_date && manga.start_date !== manga.end_date">{{
            manga!.end_date | date
          }}</span>
        </div>
      </div>
      <div class="row" *ngIf="manga?.my_list_status" [class]="{ 'my-2': edit }">
        <div class="col-4 fw-bold text-end">My&nbsp;List</div>
        <div class="col-8">
          <ng-container *ngIf="edit && editBackup; then mylistedit; else mylist"></ng-container>
          <ng-template #mylist>{{ manga!.my_list_status!.status | mal: 'mystatus' }}</ng-template>
          <ng-template #mylistedit>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="editBackup!.status"
              [disabled]="busy"
            >
              <option
                *ngFor="
                  let status of ['reading', 'completed', 'on_hold', 'dropped', 'plan_to_read']
                "
                [value]="status"
              >
                {{ status | mal: 'mystatus' }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <div class="row" *ngIf="!edit && manga && manga.my_extension?.platform">
        <div class="col-4 fw-bold text-end">Platform</div>
        <div class="col-8">
          {{ manga.my_extension?.platform }}
        </div>
      </div>
      <div class="row" *ngIf="edit && manga && editExtension">
        <div class="col-4 fw-bold text-end">Platform</div>
        <div class="col-8">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.platform"
            [disabled]="busy"
          />
        </div>
      </div>
      <div class="row" *ngIf="manga && !edit">
        <div class="col-4 fw-bold text-end">Progress</div>
        <div class="col-8">
          <app-icon
            *ngIf="manga.my_list_status?.status === 'reading' && !edit"
            name="plus-square"
            class="cursor-pointer me-1"
            (click)="plusOneChapter()"
          ></app-icon>
          {{ manga!.my_list_status?.num_chapters_read || 0 }}/{{ manga!.num_chapters || '?' }}
          &middot;
          <app-icon
            *ngIf="manga.my_list_status?.status === 'reading' && !edit"
            name="plus-square"
            class="cursor-pointer me-1"
            (click)="plusOneVolume()"
          ></app-icon>
          {{ manga!.my_list_status?.num_volumes_read || 0 }}/{{ manga!.num_volumes || '?' }}
        </div>
      </div>

      <div *ngIf="manga">
        <div class="row" *ngIf="!edit">
          <div class="col-4 fw-bold text-end">Chapters</div>
          <div class="col-8">
            <div class="progress my-1">
              <div
                *ngIf="manga?.my_list_status?.num_chapters_read"
                class="progress-bar px-1"
                [ngClass]="{
                  'bg-success':
                    manga!.my_list_status?.num_chapters_read == manga!.num_chapters &&
                    manga!.num_chapters,
                  'bg-gradient': !manga!.num_chapters
                }"
                [ngStyle]="{
                  'min-width.%':
                    manga!.num_chapters || manga!.my_list_status?.num_chapters_read == 0
                      ? ((manga!.my_list_status?.num_chapters_read || 0) /
                          (manga!.num_chapters || 1)) *
                        100
                      : 30
                }"
              >
                {{ manga!.my_list_status?.num_chapters_read }}/{{ manga!.num_chapters || '?' }}
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editBackup">
          <div class="col-4 fw-bold text-end">Chapters</div>
          <div class="col-4">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                type="number"
                min="0"
                [max]="manga!.num_chapters || 9999"
                [(ngModel)]="editBackup!.num_chapters_read"
                [disabled]="busy"
              />
              <span class="input-group-text">/ {{ manga!.num_chapters || '?' }}</span>
            </div>
          </div>
          <div class="col-4 fw-bold text-end">Volumes</div>
          <div class="col-4">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                type="number"
                min="0"
                [max]="manga!.num_chapters || 9999"
                [(ngModel)]="editBackup!.num_volumes_read"
                [disabled]="busy"
              />
              <span class="input-group-text">/ {{ manga!.num_volumes || '?' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!edit && manga">
    <div class="mb-3">
      <span *ngFor="let genre of manga!.genres" class="badge bg-primary me-1">
        {{ genre.name }}
      </span>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <li [ngbNavItem]="1" *ngIf="manga.synopsis || manga.background">
        <a ngbNavLink>Synopsis</a>
        <ng-template ngbNavContent>
          <div class="mb-3" *ngIf="manga.synopsis" [innerHTML]="manga.synopsis || '' | nl2br"></div>
          <div class="mb-3" *ngIf="manga.background">
            <strong>Background</strong>
            <div [innerHTML]="manga.background || '' | nl2br"></div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" *ngIf="!inModal && (manga?.related_anime?.length || manga?.related_manga?.length)">
        <a ngbNavLink>Related</a>
        <ng-template ngbNavContent>
          <section *ngIf="!inModal">
            <app-manga-related [related_manga]="manga.related_manga"></app-manga-related>
            <app-anime-related [related_anime]="manga.related_anime"></app-anime-related>
          </section>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Characters</a>
        <ng-template ngbNavContent>
          <app-manga-characters [id]="id"></app-manga-characters>
        </ng-template>
      </li>
      <li
        [ngbNavItem]="4"
        *ngIf="!inModal && manga.recommendations && manga.recommendations.length"
      >
        <a ngbNavLink>Recommendations</a>
        <ng-template ngbNavContent>
          <app-manga-recommendations
            [recommendations]="manga.recommendations"
          ></app-manga-recommendations>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-container>
</div>
