.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(32, 74, 130, 1) 70%,
    rgba(32, 74, 130, 0) 100%
  ) !important;
}

.progress-personal {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-right-width: 2px;
}

.modal-body header {
  top: 0;
}