<div class="container my-sm-3 border-sm-x border-sm-y rounded" [class]="{ 'modal-body': inModal }">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ manga?.title || title || 'Loading…' }}
    </h2>
    @if (manga?.title && !fromCache) {
      <div class="ms-auto ps-3 cursor-pointer" style="white-space: nowrap">
        @if (manga?.my_list_status) {
          <myanili-icon
            [name]="busy ? 'loading' : 'pencil'"
            size="24"
            (click)="editSave()"
          ></myanili-icon>
        } @else {
          <myanili-icon
            [name]="busy ? 'loading' : 'plus'"
            size="24"
            (click)="editSave()"
          ></myanili-icon>
        }
      </div>
    }
  </header>

  <!-- poster -->

  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <myanili-poster-rating
        [poster]="manga?.main_picture?.large || manga?.main_picture?.medium"
        [meanRating]="meanRating"
        [rating]="manga?.my_list_status?.score"
      ></myanili-poster-rating>
      <div class="my-3">
        @if (manga?.rank) {
          <myanili-value-pair
            [cols]="6"
            name="Ranking"
            value="#{{ manga!.rank | number }}"
          ></myanili-value-pair>
        }
        @if (manga?.popularity) {
          <myanili-value-pair
            [cols]="6"
            name="Popularity"
            value="#{{ manga!.popularity | number }}"
          ></myanili-value-pair>
        }
        @if (manga?.num_list_users) {
          <myanili-value-pair
            [cols]="6"
            name="Members"
            value="{{ manga!.num_list_users | number }}"
          ></myanili-value-pair>
        }
      </div>
    </div>

    <!-- right column -->

    <div class="col-sm-7 col-md-8 mb-3">
      @if (manga?.my_extension?.displayName) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Display</div>
          <div class="col-8">{{ manga?.my_extension?.displayName }}</div>
        </div>
      }
      @if (manga?.alternative_titles?.en) {
        <div class="row">
          <div class="col-4 fw-bold text-end">English</div>
          <div class="col-8">{{ manga?.alternative_titles?.en }}</div>
        </div>
      }
      @if (manga?.alternative_titles?.ja) {
        <div class="row">
          <div class="col-4 fw-bold text-end">{{ originalLanguage }}</div>
          <div class="col-8">{{ manga?.alternative_titles?.ja }}</div>
        </div>
      }
      @if (manga?.alternative_titles?.synonyms?.length) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Synonyms</div>
          <div class="col-8">
            @for (title of manga?.alternative_titles?.synonyms; track title) {
              <div [innerHtml]="title"></div>
            }
          </div>
        </div>
      }
      @if (manga?.authors && manga?.authors?.length) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Author</div>
          <div class="col-8">
            @for (author of manga!.authors; track author) {
              <div class="cursor-pointer link-primary" [routerLink]="'/person/' + author.node.id">
                {{ author.node.last_name }} {{ author.node.first_name }} ({{ author.role }})
              </div>
            }
          </div>
        </div>
      }
      @if (manga) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Type</div>
          <div class="col-8">
            <myanili-icon
              name="{{ manga.media_type | mal: 'mediaicon' }}"
              class="me-1"
            ></myanili-icon>
            {{ manga!.media_type | mal: 'mediatype' }}
          </div>
        </div>
      }
      @if (manga?.serialization?.length) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Serialization</div>
          <div class="col-8">
            @for (magazine of manga!.serialization!; track magazine) {
              <div
                class="link-primary cursor-pointer"
                [routerLink]="'/manga/magazine/' + magazine.node.id"
              >
                {{ magazine.node.name }}
              </div>
            }
          </div>
        </div>
      }
      @if (manga && manga.start_date) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Published</div>
          <div class="col-8">
            <span class="text-nowrap">{{ manga.start_date | date }}</span>
            @if (manga.start_date !== manga.end_date) {
              <span> &ndash; </span>
            }
            @if (manga.end_date && manga.start_date !== manga.end_date) {
              <span class="text-nowrap">{{ manga!.end_date | date }}</span>
            }
          </div>
        </div>
      }
      @if (manga?.my_list_status) {
        <div class="row">
          <div class="col-4 fw-bold text-end">My&nbsp;List</div>
          <div class="col-8">
            {{
              manga!.my_list_status!.is_rereading
                ? 'Rewatching'
                : (manga!.my_list_status!.status | mal: 'mystatus')
            }}
            @if (
              manga!.my_list_status?.status === 'plan_to_read' ||
              manga!.my_list_status?.status === 'on_hold'
            ) {
              <myanili-icon
                name="play-circle"
                class="cursor-pointer me-1"
                (click)="setStatus('reading')"
              ></myanili-icon>
            }
            @if (manga!.my_list_status?.status === 'reading') {
              <myanili-icon
                name="pause-circle"
                class="cursor-pointer me-1"
                (click)="setStatus('on_hold')"
              ></myanili-icon>
            }
            @if (
              manga!.my_list_status?.status === 'completed' && !manga!.my_list_status?.is_rereading
            ) {
              <myanili-icon
                name="arrow-counterclockwise"
                class="cursor-pointer me-1"
                (click)="reread()"
              ></myanili-icon>
            }
            @if (manga!.my_list_status?.status === 'on_hold') {
              <myanili-icon
                name="arrow-counterclockwise"
                class="cursor-pointer me-1"
                (click)="startOver()"
              ></myanili-icon>
            }
          </div>
        </div>
      }
      @if (manga && manga.my_extension && manga.my_extension.simulpub?.length) {
        <myanili-value-pair name="Simulpub">
          {{ getDay(manga.my_extension.simulpub) }}
        </myanili-value-pair>
      }
      @if (manga && manga.my_extension && manga.my_extension.platform) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Platform</div>
          <div class="col-8">
            @if (manga.my_extension.platformId) {
              <a
                href="{{ manga.my_extension.platform | platform: 'urlprefix' }}{{
                  manga.my_extension.platformId
                }}{{ manga.my_extension.platform | platform: 'urlpostfix' }}"
                target="_blank"
              >
                <svg-icon
                  [svgStyle]="{ 'maxWidth.rem': '5', 'maxHeight.rem': '1' }"
                  class="ml-1"
                  src="/assets/platform/{{ manga.my_extension.platform }}.svg"
                ></svg-icon>
              </a>
            }
            @if (!manga.my_extension.platformId) {
              <svg-icon
                [svgStyle]="{ 'maxWidth.rem': '5', 'maxHeight.rem': '1' }"
                class="ml-1"
                src="/assets/platform/{{ manga.my_extension.platform }}.svg"
              ></svg-icon>
            }
          </div>
        </div>
      }
      @if (manga && manga.my_extension?.publisher) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Publisher</div>
          <div class="col-8">
            @if (manga.my_extension?.publisherWebsite) {
              <a [href]="manga.my_extension?.publisherWebsite" target="_blank" class="link-primary">
                <myanili-svg-icon
                  [alt]="manga.my_extension?.publisher"
                  [svgStyle]="{ 'maxWidth.rem': '5', 'maxHeight.rem': '1' }"
                  src="/assets/publisher/{{ manga.my_extension?.publisher }}.svg"
                ></myanili-svg-icon>
              </a>
            } @else {
              <myanili-svg-icon
                [alt]="manga.my_extension?.publisher"
                [svgStyle]="{ 'maxWidth.rem': '5', 'maxHeight.rem': '1' }"
                src="/assets/publisher/{{ manga.my_extension?.publisher }}.svg"
              ></myanili-svg-icon>
            }
          </div>
        </div>
      }
      @if (manga) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Progress</div>
          <div class="col-8">
            @if (manga.my_list_status?.status === 'reading' || manga.my_list_status?.is_rereading) {
              <myanili-icon
                name="plus-circle"
                class="cursor-pointer me-1"
                (click)="plusOne('chapter')"
              ></myanili-icon>
            }
            {{ manga!.my_list_status?.num_chapters_read || 0 }}/{{ manga!.num_chapters || '?' }}
            &middot;
            @if (manga.my_list_status?.status === 'reading' || manga.my_list_status?.is_rereading) {
              <myanili-icon
                name="plus-circle"
                class="cursor-pointer me-1"
                (click)="plusOne('volume')"
              ></myanili-icon>
            }
            {{ manga!.my_list_status?.num_volumes_read || 0 }}/{{ manga!.num_volumes || '?' }}
          </div>
        </div>
      }

      @if (manga) {
        <div>
          <div class="row">
            <div class="col-4 fw-bold text-end">Chapters</div>
            <div class="col-8">
              <div class="progress rounded-pill my-1">
                @if (manga.my_list_status?.num_chapters_read) {
                  <div
                    class="progress-bar px-1"
                    [ngClass]="{
                      'bg-success':
                        manga.my_list_status?.num_chapters_read == manga.num_chapters &&
                        manga.num_chapters,
                      'bg-gradient': !manga.num_chapters,
                    }"
                    [ngStyle]="{
                      'min-width.%':
                        manga!.num_chapters || manga!.my_list_status?.num_chapters_read == 0
                          ? ((manga!.my_list_status?.num_chapters_read || 0) /
                              (manga!.num_chapters || 1)) *
                            100
                          : 30,
                    }"
                  >
                    {{ manga!.my_list_status?.num_chapters_read }}/{{ manga!.num_chapters || '?' }}
                  </div>
                }
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-4 fw-bold text-end">Links</div>
              <div class="col-8">
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('mal')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-mal class="text-primary"></myanili-icon-mal>
                    <a [href]="'https://myanimelist.net/manga/' + id" target="_blank" class="ms-1"
                      >MyAnimeList</a
                    >
                  </div>
                </div>
                @if (manga.my_extension?.anilistId) {
                  <div class="row">
                    <div class="col-4">
                      <td class="text-nowrap">
                        <myanili-external-rating
                          [rating]="getRating('anilist')"
                        ></myanili-external-rating>
                      </td>
                    </div>
                    <div class="col-8">
                      <myanili-icon-anilist></myanili-icon-anilist>
                      <a
                        class="ms-1"
                        [href]="'https://anilist.co/manga/' + manga.my_extension!.anilistId"
                        target="_blank"
                        >AniList</a
                      >
                    </div>
                  </div>
                }
                @if (manga.my_extension?.kitsuId?.kitsuId) {
                  <div class="row">
                    <div class="col-4">
                      <td class="text-nowrap">
                        <myanili-external-rating
                          [rating]="getRating('kitsu')"
                        ></myanili-external-rating>
                      </td>
                    </div>
                    <div class="col-8">
                      <myanili-icon-kitsu style="color: #e75e45"></myanili-icon-kitsu>
                      <a
                        class="ms-1"
                        [href]="'https://kitsu.app/manga/' + manga.my_extension!.kitsuId!.kitsuId"
                        target="_blank"
                        >Kitsu</a
                      >
                    </div>
                  </div>
                }
                @if (manga.id) {
                  <div class="row">
                    <div class="col-4">
                      <td class="text-nowrap">
                        <myanili-external-rating
                          [rating]="getRating('shikimori')"
                        ></myanili-external-rating>
                      </td>
                    </div>
                    <div class="col-8">
                      <myanili-icon-shikimori></myanili-icon-shikimori>
                      <a
                        class="ms-1"
                        [href]="'https://shikimori.one/mangas/' + manga.id"
                        target="_blank"
                        >Shikimori</a
                      >
                    </div>
                  </div>
                }
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      @if (manga.my_extension?.bakaId) {
                        <myanili-external-rating
                          [rating]="getRating('bu')"
                        ></myanili-external-rating>
                      }
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-bakamanga></myanili-icon-bakamanga>
                    <a
                      class="ms-1"
                      [ngClass]="{ 'link-secondary': !manga.my_extension?.bakaId }"
                      [href]="getBakaUrl()"
                      target="_blank"
                      >Baka-Updates</a
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      @if (manga.my_extension?.mdId) {
                        <myanili-external-rating
                          [rating]="getRating('md')"
                        ></myanili-external-rating>
                      }
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-mangadex></myanili-icon-mangadex>
                    <a
                      class="ms-1"
                      [ngClass]="{ 'link-secondary': !manga.my_extension?.mdId }"
                      [href]="getMdUrl()"
                      target="_blank"
                      >MangaDex</a
                    >
                  </div>
                </div>
                @if (manga.my_extension?.anisearchId) {
                  <div class="row">
                    <div class="col-4">
                      <td class="text-nowrap">
                        <myanili-external-rating
                          [rating]="getRating('anisearch')"
                        ></myanili-external-rating>
                      </td>
                    </div>
                    <div class="col-8">
                      <myanili-icon-anisearch></myanili-icon-anisearch>
                      <a
                        class="ms-1"
                        [href]="'https://anisearch.com/manga/' + manga.my_extension!.anisearchId"
                        target="_blank"
                        >aniSearch</a
                      >
                    </div>
                  </div>
                }
                @if (manga.my_extension?.annId) {
                  <div class="row">
                    <div class="col-4">
                      <td class="text-nowrap">
                        <myanili-external-rating
                          [rating]="getRating('ann')"
                        ></myanili-external-rating>
                      </td>
                    </div>
                    <div class="col-8">
                      <myanili-icon-ann></myanili-icon-ann>
                      <a
                        class="ms-1"
                        [href]="
                          'https://www.animenewsnetwork.com/encyclopedia/manga.php?id=' +
                          manga.my_extension!.annId
                        "
                        target="_blank"
                        >ANN</a
                      >
                    </div>
                  </div>
                }
                @if (manga.my_extension?.mpasId) {
                  <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                      <myanili-icon-manga-passion></myanili-icon-manga-passion>
                      <a
                        class="ms-1"
                        [href]="
                          'https://www.manga-passion.de/editions/' + manga.my_extension!.mpasId
                        "
                        target="_blank"
                        >Manga Passion</a
                      >
                    </div>
                  </div>
                }
                @if (manga.my_extension?.fandomSlug) {
                  <div class="row">
                    <div class="col-4">
                      <td class="text-nowrap"></td>
                    </div>
                    <div class="col-8">
                      <myanili-icon-fandom></myanili-icon-fandom>
                      <a
                        class="ms-1"
                        [href]="
                          manga.my_extension?.fandomSlug?.includes('.')
                            ? 'https://' + manga.my_extension!.fandomSlug
                            : 'https://' + manga.my_extension?.fandomSlug + '.fandom.com/'
                        "
                        target="_blank"
                        >Fandom</a
                      >
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  @if (manga?.my_extension?.comment) {
    <div class="my-3">
      <blockquote
        class="quotes border-start ps-3 fst-italic quotes"
        [innerHTML]="manga!.my_extension!.comment! | nl2br"
      ></blockquote>
    </div>
  }

  @if (manga) {
    <myanili-genres-badges class="mb-3 d-block" [genres]="manga.genres"></myanili-genres-badges>
  }

  @if (manga) {
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      @if (manga.synopsis || manga.background) {
        <li [ngbNavItem]="1">
          <a ngbNavLink>Synopsis</a>
          <ng-template ngbNavContent>
            @if (manga.synopsis) {
              <div class="mb-3" [innerHTML]="manga.synopsis || '' | nl2br"></div>
            }
            @if (manga.background) {
              <div class="mb-3">
                <strong>Background</strong>
                <div [innerHTML]="manga.background || '' | nl2br"></div>
              </div>
            }
          </ng-template>
        </li>
      }
      <li [ngbNavItem]="3">
        <a ngbNavLink>Characters</a>
        <ng-template ngbNavContent>
          <myanili-manga-characters [id]="id"></myanili-manga-characters>
        </ng-template>
      </li>
      @if (manga.my_extension?.annId) {
        <li [ngbNavItem]="7">
          <a ngbNavLink>News</a>
          <ng-template ngbNavContent>
            <myanili-ann-news [annId]="manga.my_extension!.annId!" type="manga"></myanili-ann-news>
          </ng-template>
        </li>
      }
      @if (!inModal && (manga.related_anime.length || manga.related_manga.length)) {
        <li [ngbNavItem]="2">
          <a ngbNavLink>Related</a>
          <ng-template ngbNavContent>
            @if (!inModal) {
              <section>
                <myanili-manga-related
                  [related_manga]="manga.related_manga"
                ></myanili-manga-related>
                <myanili-anime-related
                  [related_anime]="manga.related_anime"
                  [has_covers]="false"
                ></myanili-anime-related>
                <myanili-liveaction-related
                  type="manga"
                  [anisearchId]="manga.my_extension?.anisearchId || 0"
                ></myanili-liveaction-related>
              </section>
            }
          </ng-template>
        </li>
      }
      @if (!inModal && manga.recommendations && manga.recommendations.length) {
        <li [ngbNavItem]="4">
          <a ngbNavLink>Recommendations</a>
          <ng-template ngbNavContent>
            <myanili-manga-recommendations
              [recommendations]="manga.recommendations"
            ></myanili-manga-recommendations>
          </ng-template>
        </li>
      }
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  }
</div>
