@if (related_manga) {
  @for (type of getRelatedMangas(); track type) {
    <div class="mb-3">
      <strong class="text-dark">{{ type.name }}</strong>
      <div class="grid my-2">
        @for (manga of type.entries; track manga) {
          <myanili-media-card
            [poster]="manga.main_picture?.medium || manga.main_picture?.large"
            [title]="manga.title"
            routerLink="/manga/details/{{ manga.id }}"
          ></myanili-media-card>
        }
      </div>
    </div>
  }
}
