<ng-container *ngIf="status; else recommendationbadge">
  <ng-container *ngIf="status === 'watching' || status === 'reading'; else statusicon">
    <div
      style="
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 50%;
        overflow: hidden;
        line-height: 1;
      "
    >
      <circle-progress
        [percent]="parts ? ((progress || 0) / parts) * 100 : 0"
        [radius]="14"
        [title]="'' + (progress || '0') + '/' + (parts || '?')"
        [showTitle]="true"
        [titleColor]="'currentColor'"
        [titleFontSize]="'8px'"
        style="border-radius: 50%"
        class="text-white bg-primary"
      ></circle-progress>
    </div>
  </ng-container>
  <ng-template #statusicon>
    <myanili-icon-status
      class="badge rounded-pill bg-primary"
      style="position: absolute; top: 0.5rem; right: 0.5rem; height: 2rem; padding-top: 0.5rem"
      [status]="status"
    ></myanili-icon-status>
  </ng-template>
</ng-container>
<ng-template #recommendationbadge>
  <div
    *ngIf="recommendations"
    class="badge rounded-pill bg-primary"
    style="position: absolute; top: 0.5rem; right: 0.5rem"
  >
    {{ recommendations }}
  </div>
</ng-template>
