<div class="container my-sm-3 border-sm-x border-sm-y rounded">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ title }}
      @if (producer?.siteUrl) {
        <a [href]="$safeNavigationMigration(producer?.siteUrl)" target="_blank">
          <myanili-icon-anilist
            size="38"
            style="vertical-align: bottom; line-height: 0.5"
          ></myanili-icon-anilist>
        </a>
      }
    </h2>
  </header>

  @if (producer) {
    <div class="grid grid-2x">
      @for (anime of animes; track anime) {
        <div
          class="d-flex border rounded justify-content-between cursor-pointer"
          [routerLink]="'/anime/details/' + anime.idMal"
        >
          <img loading="lazy" [src]="anime.image" class="poster rounded-start cursor-pointer" />
          <div class="d-flex flex-fill justify-content-between flex-column p-3">
            <div>
              <div class="fw-bold">{{ anime.title }}</div>
              <div><span class="text-muted">Type:</span> {{ anime.format }}</div>
              <div><span class="text-muted">Source:</span> {{ anime.source }}</div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
