<section>
  <table class="table table-sm table-hover table-striped table-responsive-md">
    <thead>
      <tr class="sticky">
        <th>Name</th>
        <th colspan="2">Episode</th>
        <th colspan="2">Stream<span class="d-none d-md-inline">ing</span></th>
        <th>
          <app-icon name="eye" class="mx-2" size="20"></app-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let anime of animes">
        <tr
          [class]="{
            seen: isSeen(anime),
            'text-green': anime.list_status.progress === 0
          }"
        >
          <td class="cursor-pointer" routerLink="/anime/details/{{ anime.node.id }}">
            {{
              anime.my_extension?.displayName ||
                (lang === 'en'
                  ? anime.node.alternative_titles?.en
                  : lang === 'jp'
                  ? anime.node.alternative_titles?.ja
                  : anime.node.title) ||
                anime.node.title
            }}
          </td>
          <td>
            <circle-progress
              *ngIf="
                anime.node.num_parts !== 1 &&
                (anime.list_status.status === 'current' || anime.list_status.repeating)
              "
              [percent]="
                anime.node.num_parts
                  ? (anime.list_status.progress / (anime.node.num_parts || 0)) * 100
                  : 0
              "
            ></circle-progress>
          </td>
          <td style="white-space: nowrap">
            <ng-container *ngIf="anime.node.media_type !== 'movie'">
              {{
                anime.my_extension?.seasonNumber === 0
                  ? anime.my_extension?.seasonNumber
                  : anime.my_extension?.seasonNumber || 1
              }}x{{
                anime.list_status.progress +
                  (anime.my_extension?.episodeCorOffset || 0) +
                  (isSeen(anime) ? 0 : 1)
              }}
            </ng-container>
          </td>
          <td>
            <app-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulCountry"
            ></app-streaming>
          </td>
          <td>
            {{
              anime.my_extension?.simulTime
                ? getLast8am().day() === anime.my_extension?.simulDay
                  ? (anime.my_extension!.simulTime!.substr(0, 5) | time)
                  :( anime.my_extension?.simulDay|day)
                : ''
            }}
          </td>
          <td>
            <app-icon
              *ngIf="anime.my_extension?.simulDay || anime.my_extension?.simulDay === 0"
              [class]="{ 'cursor-pointer': !isSeen(anime) }"
              class="mx-2"
              [name]="anime.busy ? 'hourglass-split' : isSeen(anime) ? 'check2' : 'eye'"
              size="20"
              (click)="markSeen(anime)"
            ></app-icon>
            <app-icon
              *ngIf="!(anime.my_extension?.simulDay || anime.my_extension?.simulDay === 0)"
              class="cursor-pointer mx-2"
              [name]="
                anime.list_status.status === 'completed'
                  ? 'check2'
                  : anime.busy
                  ? 'hourglass-split'
                  : 'plus-square'
              "
              [style]="{
                padding: anime.list_status.status === 'completed' || anime.busy ? 0 : '2px'
              }"
              [size]="anime.list_status.status === 'completed' || anime.busy ? 20 : 16"
              (click)="markSeen(anime)"
            ></app-icon>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
