<myanili-header
  header="{{ !showDate ? 'Watchlist' : (getLast8am().toJSDate() | date: 'EEE, MMM d') }}"
  (click)="showDate = !showDate"
></myanili-header>
<section>
  <table class="table table-sm table-hover table-striped table-responsive-md" darkTable>
    <thead class="sticky">
      <tr>
        <th>Name</th>
        <th colspan="2">Episode</th>
        <th colspan="2">Stream<span class="d-none d-md-inline">ing</span></th>
        <th>
          <span class="mx-2">
            <myanili-icon-progress
              [percent]="(seenCount / animes.length) * 100"
            ></myanili-icon-progress>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (anime of animes; track anime) {
        <tr
          [class]="{
            seen: isSeen(anime),
            'text-green': anime.list_status.num_episodes_watched === 0,
          }"
        >
          <td class="cursor-pointer" routerLink="/anime/details/{{ anime.node.id }}">
            {{
              anime.my_extension?.displayName ||
                ((settings.language$ | async) === 'en'
                  ? anime.node.alternative_titles?.en
                  : (settings.language$ | async) === 'jp'
                    ? anime.node.alternative_titles?.ja
                    : anime.node.title) ||
                anime.node.title
            }}
          </td>
          <td>
            <myanili-icon-progress
              [percent]="
                anime.node.num_episodes
                  ? (anime.list_status.num_episodes_watched / (anime.node.num_episodes || 0)) * 100
                  : 0
              "
            ></myanili-icon-progress>
          </td>
          <td style="white-space: nowrap">
            @if (anime.node.media_type !== 'movie') {
              {{
                anime.my_extension?.seasonNumber === 0
                  ? anime.my_extension?.seasonNumber
                  : anime.my_extension?.seasonNumber || 1
              }}x{{
                anime.list_status.num_episodes_watched +
                  (anime.my_extension?.episodeCorOffset || 0) +
                  (isSeen(anime) ? 0 : 1)
              }}
            }
          </td>
          <td>
            <myanili-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulcast?.country"
            ></myanili-streaming>
          </td>
          <td>
            {{
              anime.my_extension?.simulcast?.time
                ? anime.my_extension?.simulcast?.day?.includes(getLast8am().weekday % 7)
                  ? (anime.my_extension!.simulcast.time!.substr(0, 5)
                    | time: anime.my_extension!.simulcast.tz)
                  : (getLastDay(anime.my_extension?.simulcast?.day) | day)
                : ''
            }}
          </td>
          <td>
            @if (anime.my_extension?.simulcast?.day && isInSeason(anime)) {
              <myanili-icon
                [class]="{ 'cursor-pointer': !isSeen(anime) }"
                class="mx-2"
                [name]="
                  anime.busy
                    ? 'loading-circle'
                    : anime.list_status.status === 'dropped'
                      ? 'trash'
                      : isSeen(anime)
                        ? 'check-circle'
                        : 'circle'
                "
                (click)="markSeen(anime)"
              ></myanili-icon>
            } @else {
              <myanili-icon
                class="cursor-pointer mx-2"
                [name]="
                  anime.list_status.status === 'completed' && !anime.list_status.is_rewatching
                    ? 'check-circle'
                    : anime.busy
                      ? 'loading-circle'
                      : 'plus-circle'
                "
                (click)="markSeen(anime)"
              ></myanili-icon>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
