<section>
  <table class="table table-sm table-hover table-striped table-responsive-md">
    <thead>
      <tr class="sticky">
        <th>Name</th>
        <th colspan="2">Episode</th>
        <th colspan="2">Stream<span class="d-none d-md-inline">ing</span></th>
        <th>
          <app-icon name="eye" class="mx-2" size="20"></app-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let anime of animes">
        <tr
          [class]="{
            seen: isSeen(anime),
            'text-green': anime.list_status.num_episodes_watched === 0
          }"
        >
          <td class="cursor-pointer" routerLink="/anime/details/{{ anime.node.id }}">
            {{
              anime.my_extension?.displayName ||
                (lang === 'en'
                  ? anime.node.alternative_titles?.en
                  : lang === 'jp'
                  ? anime.node.alternative_titles?.ja
                  : anime.node.title) ||
                anime.node.title
            }}
          </td>
          <td>
            <circle-progress
              *ngIf="anime.list_status.status === 'watching'"
              [percent]="
                anime.node.num_episodes
                  ? (anime.list_status.num_episodes_watched / (anime.node.num_episodes || 0)) * 100
                  : 0
              "
            ></circle-progress>
          </td>
          <td style="white-space: nowrap">
            {{
              anime.my_extension?.seasonNumber === 0
                ? anime.my_extension?.seasonNumber
                : anime.my_extension?.seasonNumber || 1
            }}x{{
              anime.list_status.num_episodes_watched +
                (anime.my_extension?.episodeCorOffset || 0) +
                (isSeen(anime) ? 0 : 1)
            }}
          </td>
          <td>
            <app-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulCountry"
            ></app-streaming>
          </td>
          <td>
            {{
              (anime.my_extension?.simulTime ? anime.my_extension!.simulTime!.substr(0, 5) : '')
                | time
            }}
          </td>
          <td>
            <app-icon
              [class]="{ 'cursor-pointer': !isSeen(anime) }"
              class="mx-2"
              [name]="anime.busy ? 'hourglass-split' : isSeen(anime) ? 'check2' : 'eye'"
              size="20"
              (click)="markSeen(anime)"
            ></app-icon>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
