<div class="card my-3">
  <div class="card-header">Account Connections</div>
  <div class="card-body d-flex flex-column gap-3">
    <myanili-mal-login></myanili-mal-login>
    <myanili-anilist-login></myanili-anilist-login>
    <myanili-kitsu-login></myanili-kitsu-login>
    <myanili-anisearch-login></myanili-anisearch-login>
    <myanili-shikimori-login></myanili-shikimori-login>
    <myanili-trakt-login></myanili-trakt-login>
    <myanili-simkl-login></myanili-simkl-login>
    <myanili-annict-login></myanili-annict-login>
    <myanili-baka-login></myanili-baka-login>
    <myanili-livechart-login></myanili-livechart-login>
  </div>
</div>
