<section>
  <table class="table table-sm table-hover table-striped table-responsive-md" darkTable>
    <thead class="sticky">
      <tr>
        <th colspan="4" class="text-center">Reading</th>
      </tr>
      <tr>
        <th>Name</th>
        <th><span class="d-none d-md-inline">Platform</span></th>
        <th>Chapter</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody myanili-bookshelf [mangas]="reading"></tbody>
    <thead>
      <tr>
        <th
          colspan="4"
          class="text-center"
          style="box-shadow: 0 -1px 0 inset currentColor, 0 1px 0 inset currentColor"
        >
          Ongoing
        </th>
      </tr>
    </thead>
    <tbody myanili-bookshelf [mangas]="ongoing"></tbody>
  </table>
</section>
