<div class="grid m-2">
  @for (manga of mangas; track manga) {
    <myanili-media-card
      [status]="manga.list_status.status"
      [poster]="manga.node.main_picture?.medium || manga.node.main_picture?.large"
      [title]="
        manga.my_extension?.displayName ||
        ((settings.language$ | async) === 'en'
          ? manga.node.alternative_titles?.en
          : (settings.language$ | async) === 'jp'
            ? manga.node.alternative_titles?.ja
            : manga.node.title) ||
        manga.node.title
      "
      [progress]="manga.list_status.num_chapters_read"
      [parts]="manga.node.num_chapters"
      [mediaType]="manga.node.media_type"
      routerLink="/manga/details/{{ manga.node.id }}"
    ></myanili-media-card>
  }
</div>
