.table {
  table-layout: fixed;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      width: 3.5rem;
      
      > div {
        padding: 0;
      }
    }

    .twolines {
      transform-origin: top;
      transform: scaleY(0.5);
      height: 1.5em;
    }
  }
}

.flag {
  position: absolute;
  right: -0.5rem;
  bottom: 0;
  font-size: 0.6rem;
}
