<div class="container-fluid mb-3">
  <div *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" class="card mt-3">
    <div class="card-header">
      {{ getDay(day) }}
    </div>

    <div class="card-body" *ngIf="getAnimes((day + today) % 7).length">
      <table class="table table-sm mb-0" darkTable>
        <tr
          *ngFor="let anime of getAnimes((day + today) % 7)"
          [ngStyle]="{
            opacity: anime.my_list_status?.status === 'completed' ? 0.3 : 1
          }"
        >
          <td>
            <div
              [class]="{
                twolines:
                  anime.my_list_status?.status === 'plan_to_watch' && anime.my_extension!.simulTime
              }"
            >
              <div class="fst-italic" *ngIf="anime.my_list_status?.status === 'plan_to_watch'">
                {{ anime.start_date | date: 'dd.MM.' }}
              </div>
              <div *ngIf="anime.my_extension?.simulTime">
                {{ anime.my_extension!.simulTime!.substr(0, 5) | time }}
              </div>
            </div>
          </td>
          <td>
            <myanili-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulCountry"
            ></myanili-streaming>
            <span
              [routerLink]="'/anime/details/' + anime.id!"
              class="cursor-pointer entry"
              [ngClass]="{
                'fst-italic': anime.my_list_status?.status === 'plan_to_watch'
              }"
            >
              {{
                (lang === 'en'
                  ? anime.alternative_titles?.en
                  : lang === 'jp'
                  ? anime.alternative_titles?.ja
                  : anime.title) || anime.title
              }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card mt-3" *ngIf="getOtherAnimes().length">
    <div class="card-header">Unassigned</div>
    <div class="card-body">
      <table class="table table-sm mb-0" darkTable>
        <tr
          *ngFor="let anime of getOtherAnimes()"
          [ngStyle]="{
            opacity: anime.my_list_status?.status === 'completed' ? 0.3 : 1
          }"
        >
          <td class="fst-italic">
            <ng-container *ngIf="length(anime.start_date) === 10; else monthOnly">{{
              anime.start_date | date: 'dd.MM.'
            }}</ng-container>
            <ng-template #monthOnly>{{ anime.start_date | date: 'MMM' }}.</ng-template>
          </td>
          <td>
            <myanili-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulCountry"
            ></myanili-streaming>
            <span
              [routerLink]="'/anime/details/' + anime.id!"
              class="cursor-pointer entry"
              [ngClass]="{
                'fst-italic': anime.my_list_status?.status === 'plan_to_watch'
              }"
            >
              {{
                (lang === 'en'
                  ? anime.alternative_titles?.en
                  : lang === 'jp'
                  ? anime.alternative_titles?.ja
                  : anime.title) || anime.title
              }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
