.table {
  table-layout: fixed;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      width: 3.5rem;
    }
  }
}

.flag {
  position: absolute;
  right: -0.5rem;
  bottom: 0;
  font-size: 0.6rem;
}
