<div class="container-fluid mb-3">
  <div *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" class="card mt-3">
    <div class="card-header">
      {{ getDay(day) }}
    </div>

    <div class="card-body" *ngIf="getAnimes((day + today) % 7).length">
      <table class="table table-sm mb-0">
        <tr *ngFor="let anime of getAnimes((day + today) % 7)">
          <td>{{ anime.my_extension!.simulTime?.substr(0, 5) | time }}</td>
          <td>
            <app-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulCountry"
            ></app-streaming>
            <span [routerLink]="'/anime/details/' + anime.id!" class="cursor-pointer entry">
              {{
                (lang === 'en'
                ? anime.alternative_titles?.en
                : lang === 'jp'
                ? anime.alternative_titles?.ja
                : anime.title) || anime.title
              }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
