<div class="container-fluid my-3">
  <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-3">
    <div class="col" *ngFor="let anime of animes">
      <div class="card h-100 cursor-pointer" routerLink="/anime/details/{{ anime.node.id|link }}">
        <picture>
          <source
            *ngIf="anime.node && anime.node.main_picture"
            srcset="{{ anime.node.main_picture.medium || anime.node.main_picture.large }}"
          />
          <source srcset="/assets/blank-poster.svg" />
          <img src="/assets/blank-poster.svg" alt="poster" class="card-img" />
        </picture>
        <div class="card-overlay rounded-bottom">
          {{
            anime.my_extension?.displayName ||
              (lang === 'en'
                ? anime.node.alternative_titles?.en
                : lang === 'jp'
                ? anime.node.alternative_titles?.ja
                : anime.node.title) ||
              anime.node.title
          }}
        </div>
        <ng-container *ngIf="anime.list_status">
          <ng-container *ngIf="anime.list_status.status === 'current'; else statusicon">
            <div
              style="
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                border-radius: 50%;
                overflow: hidden;
                line-height: 1;
              "
            >
              <circle-progress
                [percent]="
                  anime.node.num_parts
                    ? ((anime.list_status?.progress || 0) / anime.node.num_parts!) *
                      100
                    : 0
                "
                [radius]="14"
                [title]="
                  '' +
                  anime.list_status?.progress +
                  '/' +
                  (anime.node.num_parts || '?')
                "
                [showTitle]="true"
                [titleColor]="'currentColor'"
                [titleFontSize]="'8px'"
                style="border-radius: 50%;"
              class="text-white bg-primary"
              ></circle-progress>
            </div>
          </ng-container>
          <ng-template #statusicon>
            <app-icon-status
              class="badge rounded-pill bg-primary"
              style="
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                height: 2rem;
                padding-top: 0.5rem;
              "
              [status]="anime.list_status.status"
            ></app-icon-status>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
