.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.75rem;
  margin: 0.75rem;

  @media (max-width: 540px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-overlay {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-shadow: 0 0 3px black;
  font-weight: 600;
  max-height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

picture {
  height: 100%;
}

img {
  height: 100%;
}
