<div class="modal-header">
  <h5 class="modal-title">
    MyAniLi
    <small class="text-muted">v{{ version }}</small>
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-header">Anime/Manga</div>
    <div class="card-body">
      <div class="row">
        <div class="col-5">Language</div>
        <div class="col-7">
          <select class="form-control" (change)="changeLang()" [(ngModel)]="lang">
            <option value="default">Rōmaji</option>
            <option value="en">English</option>
            <option value="jp">Native</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">Seasonal</div>
        <div class="col-7">
          <select class="form-control" (change)="changeInList()" [(ngModel)]="inlist">
            <option value="false">Show all Airing</option>
            <option value="true">Show only in my list</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">Lists</div>
        <div class="col-7">
          <select class="form-control" (change)="changeNsfw()" [(ngModel)]="nsfw">
            <option value="false">Hide Hentai in Search/Season</option>
            <option value="true">Show Hentai in Search/Season</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">Layout</div>
        <div class="col-7">
          <select class="form-control" (change)="changeLayout()" [(ngModel)]="layout">
            <option value="list">List</option>
            <option value="grid">Grid</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-header">Account</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-5">MyAnimeList</div>
        <div class="col-7">
          <ng-container *ngIf="malLoggedIn; else malConnectTemplate">
            <myanili-icon-mal class="me-1 text-primary"></myanili-icon-mal>
            <a href="https://myanimelist.net/profile/{{ malLoggedIn.name }}" target="_blank">{{
              malLoggedIn.name
            }}</a>
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="malLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #malConnectTemplate>
            <button class="btn btn-sm btn-primary" (click)="malConnect()">
              <myanili-icon-mal style="color: transparent"></myanili-icon-mal>
              Login
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">AniList</div>
        <div class="col-7">
          <ng-container *ngIf="anilistLoggedIn; else anilistConnectTemplate">
            <myanili-icon-anilist class="me-1"></myanili-icon-anilist>
            <a href="https://anilist.co/user/{{ anilistLoggedIn.name }}" target="_blank">{{
              anilistLoggedIn.name
            }}</a>
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="anilistLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #anilistConnectTemplate>
            <button class="btn btn-sm btn-primary" (click)="anilistConnect()">
              <myanili-icon-anilist></myanili-icon-anilist>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">Kitsu</div>
        <div class="col-7">
          <ng-container *ngIf="kitsuLoggedIn; else kitsuConnectTemplate">
            <myanili-icon-kitsu style="color: #e75e45" class="me-1"></myanili-icon-kitsu>
            <a
              href="https://kitsu.io/users/{{ kitsuLoggedIn.attributes.name || kitsuLoggedIn.id }}"
              target="_blank"
              >{{ kitsuLoggedIn.attributes.name || kitsuLoggedIn.id }}</a
            >
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="kitsuLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #kitsuConnectTemplate>
            <ng-container *ngIf="kitsuData">
              <input
                class="form-control mb-1"
                placeholder="Email / Username"
                [(ngModel)]="kitsuData.username"
              />
              <input
                class="form-control mb-1"
                placeholder="Password"
                type="password"
                [(ngModel)]="kitsuData.password"
              />
              <div class="form-check">
                <input
                  [(ngModel)]="kitsuData.saveLogin"
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="kitsuSaveLogin"
                />
                <label class="form-check-label" for="kitsuSaveLogin">
                  Save credentials locally<br /><small class="text-secondary"
                    >Only use if you keep getting logged out. Your username and password will be
                    stored in localStorage on your device.</small
                  >
                </label>
              </div>
            </ng-container>
            <button
              class="btn btn-sm btn-primary"
              (click)="kitsuConnect()"
              [disabled]="kitsuData && (!kitsuData.username || !kitsuData.password)"
            >
              <myanili-icon-kitsu style="color: #e75e45"></myanili-icon-kitsu>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-5">Trakt.tv</div>
        <div class="col-7">
          <ng-container *ngIf="traktLoggedIn; else traktConnectTemplate">
            <myanili-icon-trakt class="me-1 link-trakt"></myanili-icon-trakt>
            <a href="https://trakt.tv/users/{{ traktLoggedIn }}" target="_blank">{{
              traktLoggedIn
            }}</a>
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="traktLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #traktConnectTemplate>
            <button class="btn btn-sm btn-primary" (click)="traktConnect()">
              <myanili-icon-trakt></myanili-icon-trakt>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-5">SIMKL</div>
        <div class="col-7">
          <ng-container *ngIf="simklLoggedIn; else simklConnectTemplate">
            <myanili-icon-simkl class="me-1"></myanili-icon-simkl>
            <a href="https://simkl.com/{{ simklLoggedIn.id }}" target="_blank">{{
              simklLoggedIn.name || simklLoggedIn.id
            }}</a>
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="simklLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #simklConnectTemplate>
            <button class="btn btn-sm btn-primary" (click)="simklConnect()">
              <myanili-icon-simkl></myanili-icon-simkl>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-5">Annict</div>
        <div class="col-7">
          <ng-container *ngIf="annictLoggedIn; else annictConnectTemplate">
            <myanili-icon-annict class="me-1"></myanili-icon-annict>
            <a href="https://annict.com/@{{ annictLoggedIn }}" target="_blank">{{
              annictLoggedIn
            }}</a>
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="annictLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #annictConnectTemplate>
            <button class="btn btn-sm btn-primary" (click)="annictConnect()">
              <myanili-icon-annict></myanili-icon-annict>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">Baka-Updates Manga</div>
        <div class="col-7">
          <ng-container *ngIf="bakaLoggedIn; else bakaConnectTemplate">
            <myanili-icon-bakamanga style="color: #e75e45" class="me-1"></myanili-icon-bakamanga>
            <a href="{{ bakaLoggedIn.url }}" target="_blank">{{ bakaLoggedIn.username }}</a>
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="bakaLogoff()"
            ></myanili-icon>
            <myanili-migrate-baka></myanili-migrate-baka>
          </ng-container>
          <ng-template #bakaConnectTemplate>
            <ng-container *ngIf="bakaData">
              <input
                class="form-control mb-1"
                placeholder="Username"
                [(ngModel)]="bakaData.username"
              />
              <input
                class="form-control mb-1"
                placeholder="Password"
                type="password"
                [(ngModel)]="bakaData.password"
              />
            </ng-container>
            <button
              class="btn btn-sm btn-primary"
              (click)="bakaConnect()"
              [disabled]="bakaData && (!bakaData.username || !bakaData.password)"
            >
              <myanili-icon-bakamanga style="color: #e75e45"></myanili-icon-bakamanga>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-5">Livechart</div>
        <div class="col-7">
          <ng-container *ngIf="livechartLoggedIn; else livechartConnectTemplate">
            <myanili-icon-livechart class="me-1"></myanili-icon-livechart>
            <a
              href="https://www.livechart.me/users/{{ livechartLoggedIn }}/library"
              target="_blank"
              >{{ livechartLoggedIn }}</a
            >
            <myanili-icon
              class="cursor-pointer"
              name="x"
              size="20"
              (click)="livechartLogoff()"
            ></myanili-icon>
          </ng-container>
          <ng-template #livechartConnectTemplate>
            <ng-container *ngIf="livechartData">
              <input
                class="form-control mb-1"
                placeholder="Email"
                [(ngModel)]="livechartData.username"
                type="email"
              />
              <input
                class="form-control mb-1"
                placeholder="Password"
                type="password"
                [(ngModel)]="livechartData.password"
              />
            </ng-container>
            <button
              class="btn btn-sm btn-primary"
              (click)="livechartConnect()"
              [disabled]="livechartData && (!livechartData.username || !livechartData.password)"
            >
              <myanili-icon-livechart></myanili-icon-livechart>
              Connect
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <myanili-changelog></myanili-changelog>
  <myanili-about></myanili-about>
</div>
