<table class="table table-sm table-hover table-striped table-responsive-md" darkTable>
  <thead class="sticky">
    <tr>
      <th></th>
      <th
        class="d-lg-table-cell"
        [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
      >
        Name
      </th>
      <th class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">English Name</th>
      <th class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">Japanese Name</th>
      <th class="d-none d-sm-table-cell">Series</th>
      <th>Season</th>
      <th class="d-none d-md-table-cell">Streaming</th>
      <th class="d-none d-md-table-cell">Episode</th>
      <th colspan="2" class="d-md-none">Episode</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let anime of animes">
      <tr
        class="cursor-pointer"
        [class]="{
          'fw-bold': anime.list_status.status === 'watching'
        }"
        routerLink="/anime/details/{{ anime.node.id }}"
      >
        <td>
          <myanili-icon name="{{ anime.node.media_type | mal: 'mediaicon' }}"></myanili-icon>
        </td>
        <td
          class="d-lg-table-cell"
          [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
        >
          {{ anime.my_extension?.displayName || anime.node.title }}
        </td>
        <td class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">
          {{ anime.node.alternative_titles?.en || anime.node.title }}
        </td>
        <td class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">
          {{ anime.node.alternative_titles?.ja }}
        </td>
        <td class="d-none d-sm-table-cell">
          {{ anime.my_extension?.series || anime.node.title }}
          <span
            class="text-muted"
            *ngIf="anime.my_extension?.seasonNumber && anime.my_extension?.seasonNumber != 1"
            >S{{ anime.my_extension?.seasonNumber }}</span
          >
        </td>
        <td style="white-space: nowrap">
          {{ anime.node.start_season?.year || anime.node.start_date }}
          <myanili-icon
            class="d-sm-none"
            name="{{ anime.node.start_season?.season | mal: 'seasonicon' }}"
          ></myanili-icon>
          <span class="d-none d-sm-inline">{{ anime.node.start_season?.season | titlecase }}</span>
        </td>
        <td>
          <myanili-streaming
            [provider]="anime.my_extension?.externalStreaming"
            [country]="anime.my_extension?.simulCountry"
          ></myanili-streaming>
        </td>
        <td style="white-space: nowrap">
          <myanili-icon-progress
            *ngIf="anime.list_status.status === 'watching'"
            [percent]="
              anime.node.num_episodes
                ? (anime.list_status.num_episodes_watched / (anime.node.num_episodes || 0)) * 100
                : 0
            "
          ></myanili-icon-progress>
          {{ anime.list_status.num_episodes_watched }}/{{ anime.node.num_episodes || '?' }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
