<div class="container my-sm-3 border-sm-x border-sm-y rounded" [class]="{ 'modal-body': inModal }">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ anime?.title || title || 'Loading…' }}
    </h2>
    @if (anime?.title && !fromCache) {
      <div class="ms-auto ps-3 cursor-pointer" style="white-space: nowrap">
        @if (anime?.my_list_status) {
          <myanili-icon
            [name]="busy ? 'loading' : 'pencil'"
            size="24"
            (click)="editSave()"
          ></myanili-icon>
        } @else {
          <myanili-icon
            [name]="busy ? 'loading' : 'plus'"
            size="24"
            (click)="editSave()"
          ></myanili-icon>
        }
      </div>
    }
  </header>

  <!-- poster -->

  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <myanili-poster-rating
        [poster]="anime?.main_picture?.large || anime?.main_picture?.medium"
        [meanRating]="meanRating"
        [rating]="anime?.my_list_status?.score"
      ></myanili-poster-rating>
      <div class="my-3">
        @if (anime?.rank) {
          <myanili-value-pair
            [cols]="6"
            name="Ranking"
            value="#{{ anime!.rank | number }}"
          ></myanili-value-pair>
        }
        @if (anime?.popularity) {
          <myanili-value-pair
            [cols]="6"
            name="Popularity"
            value="#{{ anime!.popularity | number }}"
          ></myanili-value-pair>
        }
        @if (anime?.num_list_users) {
          <myanili-value-pair
            [cols]="6"
            name="Members"
            value="{{ anime!.num_list_users | number }}"
          ></myanili-value-pair>
        }
      </div>
    </div>

    <!-- right column -->

    <div class="col-sm-7 col-md-8 mb-3">
      @if (anime?.my_extension?.displayName) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Display</div>
          <div class="col-8">{{ anime?.my_extension?.displayName }}</div>
        </div>
      }
      @if (anime?.alternative_titles?.en) {
        <myanili-value-pair
          name="English"
          [value]="anime?.alternative_titles?.en"
        ></myanili-value-pair>
      }
      @if (anime?.alternative_titles?.ja) {
        <myanili-value-pair
          name="{{ originalLanguage }}"
          [value]="anime?.alternative_titles?.ja"
        ></myanili-value-pair>
      }
      <myanili-value-pair-array
        name="Synonyms"
        [value]="anime?.alternative_titles?.synonyms"
      ></myanili-value-pair-array>
      @if (anime?.studios && anime!.studios.length) {
        <myanili-value-pair name="Studio">
          @for (studio of anime!.studios; track studio) {
            <div class="link-primary cursor-pointer" [routerLink]="'/anime/producer/' + studio.id">
              {{ studio.name }}
            </div>
          }
        </myanili-value-pair>
      }
      @if (anime) {
        <myanili-value-pair name="Type">
          <myanili-icon
            name="{{ anime.media_type | mal: 'mediaicon' }}"
            class="me-1"
          ></myanili-icon>
          {{ anime!.media_type | mal: 'mediatype' }}
        </myanili-value-pair>
      }
      @if (anime && anime.start_date) {
        <myanili-value-pair name="Aired">
          <span class="text-nowrap">{{
            (anime.start_date + '').length === 10 ? (anime.start_date | date) : anime.start_date
          }}</span>
          @if (anime.start_date !== anime.end_date) {
            <span> &ndash; </span>
          }
          @if (anime.end_date && anime.start_date !== anime.end_date) {
            <span class="text-nowrap">{{
              (anime.end_date + '').length === 10 ? (anime.end_date | date) : anime.end_date
            }}</span>
          }
        </myanili-value-pair>
      }
      @if (anime) {
        <myanili-value-pair name="Source">
          {{ anime!.source | mal: 'mediatype' }}
        </myanili-value-pair>
      }
      @if (anime?.rating) {
        <myanili-value-pair name="Rating">
          {{ anime!.rating | mal: 'rating' }}
        </myanili-value-pair>
      }
      @if (anime?.my_list_status) {
        <div class="row">
          <div class="col-4 fw-bold text-end">My&nbsp;List</div>
          <div class="col-8">
            {{
              anime!.my_list_status!.is_rewatching
                ? 'Rewatching'
                : (anime!.my_list_status!.status | mal: 'mystatus')
            }}
            @if (
              anime!.my_list_status?.status === 'plan_to_watch' ||
              anime!.my_list_status?.status === 'on_hold'
            ) {
              <myanili-icon
                name="play-circle"
                class="cursor-pointer me-1"
                (click)="setStatus('watching')"
              ></myanili-icon>
            }
            @if (anime!.my_list_status?.status === 'watching') {
              <myanili-icon
                name="pause-circle"
                class="cursor-pointer me-1"
                (click)="setStatus('on_hold')"
              ></myanili-icon>
            }
            @if (
              anime!.my_list_status?.status === 'completed' && !anime!.my_list_status?.is_rewatching
            ) {
              <myanili-icon
                name="arrow-counterclockwise"
                class="cursor-pointer me-1"
                (click)="rewatch()"
              ></myanili-icon>
            }
            @if (anime!.my_list_status?.start_date || anime!.my_list_status?.finish_date) {
              <div class="small text-muted">
                @if (anime!.my_list_status?.start_date) {
                  <span>{{ anime!.my_list_status?.start_date | date }}</span>
                }
                @if (anime!.my_list_status?.start_date !== anime!.my_list_status?.finish_date) {
                  <span> &ndash; </span>
                  @if (anime!.my_list_status?.finish_date) {
                    <span>{{ anime!.my_list_status?.finish_date | date }}</span>
                  }
                }
              </div>
            }
          </div>
        </div>
      }
      @if (
        anime &&
        anime.my_extension?.episodeRule &&
        anime.my_extension!.episodeRule! > (anime.my_list_status?.num_episodes_watched || 0)
      ) {
        <myanili-value-pair name="Ep. Rule">
          {{ anime.my_extension!.episodeRule || 0 }} Ep. ({{
            (anime.my_extension!.episodeRule || 0) -
              (anime.my_list_status?.num_episodes_watched || 0)
          }}
          left)
        </myanili-value-pair>
      }
      @if (anime && anime.my_extension && anime.my_extension.simulcast.day?.length) {
        <myanili-value-pair name="Watch on">
          {{ getDay(anime.my_extension.simulcast) }}
          @if (anime.my_extension.simulcast.time) {
            <span>
              <myanili-icon class="ms-2 me-1" name="clock"></myanili-icon>
              {{ anime.my_extension.simulcast.time | time: anime.my_extension.simulcast.tz }}</span
            >
          }
          @if (anime.my_list_status?.status === 'watching' || anime.my_list_status?.is_rewatching) {
            <myanili-icon
              name="skip-forward"
              class="cursor-pointer ms-2"
              (click)="skip()"
            ></myanili-icon>
          }
        </myanili-value-pair>
      } @else {
        @if (anime?.broadcast?.day_of_the_week) {
          <myanili-value-pair name="Broadcast">
            {{ anime!.broadcast!.day_of_the_week }}
            @if (anime?.broadcast?.start_time) {
              <span>
                <myanili-icon class="ms-2 me-1" name="clock"></myanili-icon>
                {{ anime!.broadcast!.start_time }}</span
              >
            }
          </myanili-value-pair>
        }
      }
      @if (anime && anime.my_extension && anime.my_extension.externalStreaming) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Streaming</div>
          <div class="col-8">
            @if (anime.my_extension.externalStreamingId) {
              <a
                href="{{ anime.my_extension.externalStreaming | stream: 'urlprefix' }}{{
                  anime.my_extension.externalStreamingId
                }}"
                target="_blank"
              >
              </a>
            }
            @if (anime.my_extension.externalStreaming) {
              <myanili-streaming
                [provider]="anime.my_extension.externalStreaming"
                [country]="anime.my_extension.simulcast.country"
                variant="full"
              ></myanili-streaming>
            }
          </div>
        </div>
      }
      @if (anime) {
        <div class="row">
          <div class="col-4 fw-bold text-end">Duration</div>
          <div class="col-8">
            @if (
              anime.my_list_status?.status === 'watching' || anime.my_list_status?.is_rewatching
            ) {
              <myanili-icon
                name="plus-circle"
                class="cursor-pointer me-1"
                (click)="plusOne()"
              ></myanili-icon>
            }
            {{ anime.num_episodes || '?' }}
            @if (anime.average_episode_duration) {
              <span>
                &times; {{ (anime.average_episode_duration || 0) / 60 | number: '1.0-0' }} min
              </span>
            }
          </div>
        </div>
      }

      @if (anime) {
        <div>
          <div class="row">
            <div class="col-4 fw-bold text-end">Episodes</div>
            <div class="col-8">
              <div class="progress rounded-pill my-1">
                @if (anime.my_list_status?.num_episodes_watched) {
                  <div
                    class="progress-bar px-1"
                    [ngClass]="{
                      'bg-success':
                        anime.my_list_status?.num_episodes_watched == anime.num_episodes &&
                        anime.num_episodes,
                      'bg-gradient': !anime.num_episodes,
                    }"
                    [ngStyle]="{
                      'min-width.%':
                        anime!.num_episodes || anime!.my_list_status?.num_episodes_watched == 0
                          ? ((anime!.my_list_status?.num_episodes_watched || 0) /
                              anime!.num_episodes) *
                            100
                          : 30,
                    }"
                  >
                    {{ anime!.my_list_status?.num_episodes_watched }}/{{
                      anime!.num_episodes || '?'
                    }}
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 fw-bold text-end">Links</div>
            <div class="col-8">
              <div class="row">
                <div class="col-4">
                  <td class="text-nowrap">
                    <myanili-external-rating [rating]="getRating('mal')"></myanili-external-rating>
                  </td>
                </div>
                <div class="col-8">
                  <myanili-icon-mal class="text-primary"></myanili-icon-mal>
                  <a [href]="'https://myanimelist.net/anime/' + id" target="_blank" class="ms-1"
                    >MyAnimeList</a
                  >
                </div>
              </div>
              @if (anime.my_extension?.anilistId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('anilist')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-anilist></myanili-icon-anilist>
                    <a
                      class="ms-1"
                      [href]="'https://anilist.co/anime/' + anime.my_extension!.anilistId"
                      target="_blank"
                      >AniList</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.kitsuId?.kitsuId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('kitsu')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-kitsu style="color: #e75e45"></myanili-icon-kitsu>
                    <a
                      class="ms-1"
                      [href]="'https://kitsu.app/anime/' + anime.my_extension!.kitsuId!.kitsuId"
                      target="_blank"
                      >Kitsu</a
                    >
                  </div>
                </div>
              }
              @if (anime.id) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('shikimori')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-shikimori></myanili-icon-shikimori>
                    <a
                      class="ms-1"
                      [href]="'https://shikimori.io/animes/' + anime.id"
                      target="_blank"
                      >Shikimori</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.anidbId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('anidb')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-anidb></myanili-icon-anidb>
                    <a
                      class="ms-1"
                      [href]="'https://anidb.net/anime/' + anime.my_extension!.anidbId"
                      target="_blank"
                      >aniDB</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.apSlug) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating [rating]="getRating('ap')"></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-ap></myanili-icon-ap>
                    <a
                      class="ms-1"
                      [href]="'https://www.anime-planet.com/anime/' + anime.my_extension!.apSlug"
                      target="_blank"
                      >Anime-Planet</a
                    >
                  </div>
                </div>
              }
              @if (anime && anime.my_extension && anime.my_extension.trakt) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('trakt')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-trakt style="color: #ed1c24"></myanili-icon-trakt>
                    <a
                      class="ms-1"
                      [href]="
                        anime.media_type === 'movie'
                          ? 'https://trakt.tv/movies/' + anime.my_extension.trakt
                          : 'https://trakt.tv/shows/' +
                            anime.my_extension.trakt +
                            '/seasons/' +
                            (anime.my_extension.seasonNumber === 0
                              ? 0
                              : anime.my_extension.seasonNumber || 1)
                      "
                      target="_blank"
                      >Trakt</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.simklId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('simkl')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-simkl></myanili-icon-simkl>
                    <a
                      class="ms-1"
                      [href]="'https://simkl.com/anime/' + anime.my_extension!.simklId"
                      target="_blank"
                      >SIMKL</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.annictId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('annict')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-annict></myanili-icon-annict>
                    <a
                      class="ms-1"
                      [href]="'https://annict.com/works/' + anime.my_extension!.annictId"
                      target="_blank"
                      >Annict</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.anisearchId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('anisearch')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-anisearch></myanili-icon-anisearch>
                    <a
                      class="ms-1"
                      [href]="'https://anisearch.com/anime/' + anime.my_extension!.anisearchId"
                      target="_blank"
                      >aniSearch</a
                    >
                  </div>
                </div>
              }
              <div class="row">
                <div class="col-4">
                  <td class="text-nowrap">
                    <myanili-external-rating
                      [rating]="getRating('livechart')"
                    ></myanili-external-rating>
                  </td>
                </div>
                <div class="col-8">
                  <myanili-icon-livechart></myanili-icon-livechart>
                  <a
                    class="ms-1"
                    [ngClass]="{ 'link-secondary': !anime.my_extension?.livechartId }"
                    [href]="
                      anime.my_extension?.livechartId
                        ? 'https://www.livechart.me/anime/' + anime.my_extension?.livechartId
                        : 'https://www.livechart.me/search?q=' + anime.title
                    "
                    target="_blank"
                    >LiveChart</a
                  >
                </div>
              </div>
              @if (anime.my_extension?.annId) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap">
                      <myanili-external-rating
                        [rating]="getRating('ann')"
                      ></myanili-external-rating>
                    </td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-ann></myanili-icon-ann>
                    <a
                      class="ms-1"
                      [href]="
                        'https://www.animenewsnetwork.com/encyclopedia/anime.php?id=' +
                        anime.my_extension!.annId
                      "
                      target="_blank"
                      >ANN</a
                    >
                  </div>
                </div>
              }
              @if (anime.my_extension?.fandomSlug) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap"></td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-fandom
                      [url]="anime.my_extension!.fandomSlug!"
                    ></myanili-icon-fandom>
                    @if (anime.my_extension!.fandomSlug!.includes('.')) {
                      <a
                        class="ms-1"
                        [href]="'https://' + anime.my_extension!.fandomSlug"
                        target="_blank"
                        >{{ anime.my_extension!.fandomSlug!.replace('www.', '') }}</a
                      >
                    } @else {
                      <a
                        class="ms-1"
                        [href]="'https://' + anime.my_extension!.fandomSlug + '.fandom.com/'"
                        target="_blank"
                        >Fandom</a
                      >
                    }
                  </div>
                </div>
              }
              @if (anime.website) {
                <div class="row">
                  <div class="col-4">
                    <td class="text-nowrap"></td>
                  </div>
                  <div class="col-8">
                    <myanili-icon-fandom [url]="anime.website"></myanili-icon-fandom>
                    <a class="ms-1" [href]="anime.website" target="_blank">Official Website</a>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  @if (anime?.my_extension?.comment) {
    <div class="my-3">
      <blockquote
        class="quotes border-start ps-3 fst-italic quotes"
        [innerHTML]="anime!.my_extension!.comment! | nl2br"
      ></blockquote>
    </div>
  }

  @if (anime) {
    <myanili-genres-badges class="mb-3 d-block" [genres]="anime.genres"></myanili-genres-badges>
  }

  @if (anime) {
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      @if (anime.synopsis || anime.background) {
        <li [ngbNavItem]="1">
          <a ngbNavLink>Synopsis</a>
          <ng-template ngbNavContent>
            <section>
              @if (anime.synopsis) {
                <div class="mb-3" [innerHTML]="anime!.synopsis || '' | nl2br"></div>
              }
              @if (anime.background) {
                <div class="mb-3">
                  <strong>Background</strong>
                  <div [innerHTML]="anime.background || '' | nl2br"></div>
                </div>
              }
            </section>
          </ng-template>
        </li>
      }
      @if (anime.opening_themes || anime.ending_themes) {
        <li [ngbNavItem]="2">
          <a ngbNavLink>Songs</a>
          <ng-template ngbNavContent>
            <myanili-anime-songs [anime]="anime"></myanili-anime-songs>
          </ng-template>
        </li>
      }
      <li [ngbNavItem]="3">
        <a ngbNavLink>Characters</a>
        <ng-template ngbNavContent>
          <myanili-anime-characters [id]="id"></myanili-anime-characters>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>Staff</a>
        <ng-template ngbNavContent>
          <myanili-anime-staff [id]="id"></myanili-anime-staff>
        </ng-template>
      </li>
      @if (streams.length) {
        <li [ngbNavItem]="8">
          <a ngbNavLink class="text-nowrap">
            Streams
            @if (streamsAvailable) {
              <small class="text-muted"> ({{ streamsAvailable }}) </small>
            }
          </a>
          <ng-template ngbNavContent>
            <myanili-anime-streams [streams]="streams"></myanili-anime-streams>
          </ng-template>
        </li>
      }
      @if (anime.my_extension?.livechartId) {
        <li [ngbNavItem]="9">
          <a ngbNavLink>Videos</a>
          <ng-template ngbNavContent>
            <myanili-videos [id]="anime.my_extension!.livechartId!"></myanili-videos>
          </ng-template>
        </li>
      }
      @if (anime.my_extension?.annId) {
        <li [ngbNavItem]="7">
          <a ngbNavLink>News</a>
          <ng-template ngbNavContent>
            <myanili-ann-news [annId]="anime.my_extension!.annId!" type="anime"></myanili-ann-news>
          </ng-template>
        </li>
      }
      @if (!inModal && (anime.related_anime.length || anime.related_manga.length)) {
        <li [ngbNavItem]="4">
          <a ngbNavLink>Related</a>
          <ng-template ngbNavContent>
            @if (!inModal) {
              <section>
                <myanili-anime-related
                  [related_anime]="anime.related_anime"
                ></myanili-anime-related>
                <myanili-manga-related
                  [related_manga]="anime.related_manga"
                  [has_covers]="false"
                ></myanili-manga-related>
                <myanili-liveaction-related
                  type="anime"
                  [anisearchId]="anime.my_extension?.anisearchId || 0"
                ></myanili-liveaction-related>
              </section>
            }
          </ng-template>
        </li>
      }
      @if (!inModal && anime.recommendations && anime.recommendations.length) {
        <li [ngbNavItem]="5">
          <a ngbNavLink>Recommendations</a>
          <ng-template ngbNavContent>
            <myanili-anime-recommendations
              [recommendations]="anime.recommendations"
            ></myanili-anime-recommendations>
          </ng-template>
        </li>
      }
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  }
</div>
