.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(32, 74, 130, 1) 70%,
    rgba(32, 74, 130, 0) 100%
  ) !important;
}

.progress-personal {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-right-width: 2px;
}

.modal-body {
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  header {
    top: 0;
  }
}

a.link-red {
  color: #ed1c24;

  &:hover {
    color: darken(#ed1c24, 10%);
  }
}

.nav {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
