<div class="container mt-sm-3 border-sm-x border-sm-y rounded">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-top bg-white">
    <h2>
      {{ anime?.title || 'Loading…' }}
      <a [href]="'https://myanimelist.net/anime/' + id" target="_blank">
        <svg
          class="me-2 d-inline"
          style="height: 1rem"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 651 304"
          fill="currentColor"
        >
          <path d="M0 0v265h64V104l56.5 73 56.5-72.5V265h64V0h-63l-58 82L63 0z" />
          <path
            d="M296.5 304l52.5-39c-25.7-44-29-88-29-88h80v88h72V65h-71v56h-68s12.7-65 72-65h75L464 0h-55C246.9 0 227 184.4 296.5 304zM498 0v264h138l15-56h-89V0z"
          />
        </svg>
      </a>
      <a
        class="link-red"
        *ngIf="anime && anime.my_extension && anime.my_extension.trakt"
        [href]="'https://trakt.tv/shows/' + anime.my_extension.trakt"
        target="_blank"
      >
        <svg
          class="d-inline"
          style="height: 1.2rem"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 144.8 144.8"
        >
          <g fill="currentColor">
            <path
              d="M29.5,111.8c10.6,11.6,25.9,18.8,42.9,18.8c8.7,0,16.9-1.9,24.3-5.3L56.3,85L29.5,111.8z"
            />
            <path
              d="M56.1,60.6L25.5,91.1L21.4,87l32.2-32.2h0l37.6-37.6c-5.9-2-12.2-3.1-18.8-3.1c-32.2,0-58.3,26.1-58.3,58.3
c0,13.1,4.3,25.2,11.7,35l30.5-30.5l2.1,2l43.7,43.7c0.9-0.5,1.7-1,2.5-1.6L56.3,72.7L27,102l-4.1-4.1l33.4-33.4l2.1,2l51,50.9
c0.8-0.6,1.5-1.3,2.2-1.9l-55-55L56.1,60.6z"
            />
            <path
              d="M115.7,111.4c9.3-10.3,15-24,15-39c0-23.4-13.8-43.5-33.6-52.8L60.4,56.2L115.7,111.4z M74.5,66.8l-4.1-4.1l28.9-28.9
l4.1,4.1L74.5,66.8z M101.9,27.1L68.6,60.4l-4.1-4.1L97.8,23L101.9,27.1z"
            />
            <g>
              <g>
                <path
                  d="M72.4,144.8C32.5,144.8,0,112.3,0,72.4C0,32.5,32.5,0,72.4,0s72.4,32.5,72.4,72.4C144.8,112.3,112.3,144.8,72.4,144.8z
         M72.4,7.3C36.5,7.3,7.3,36.5,7.3,72.4s29.2,65.1,65.1,65.1s65.1-29.2,65.1-65.1S108.3,7.3,72.4,7.3z"
                />
              </g>
            </g>
          </g>
        </svg>
      </a>
    </h2>
    <div class="ms-auto ps-3 cursor-pointer" *ngIf="anime?.title" style="white-space: nowrap">
      <ng-container *ngIf="anime?.my_list_status; else add">
        <app-icon
          [name]="busy ? 'hourglass-split' : edit ? 'check2' : 'pencil'"
          size="24"
          (click)="editSave()"
        ></app-icon>
        <app-icon
          *ngIf="edit && !busy"
          name="x"
          size="24"
          class="ms-3"
          (click)="stopEdit()"
        ></app-icon>
      </ng-container>
      <ng-template #add>
        <app-icon
          [name]="busy ? 'hourglass-split' : 'plus'"
          size="24"
          (click)="editSave()"
        ></app-icon>
      </ng-template>
    </div>
  </header>
  <!-- <hr class="mt-0" /> -->
  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <ng-container *ngIf="!edit">
        <picture>
          <source
            *ngIf="anime && anime.main_picture"
            srcset="{{ anime.main_picture.large || anime.main_picture.medium }}"
          />
          <source srcset="/assets/blank-poster.svg" />
          <img
            src="/assets/blank-poster.svg"
            alt="poster"
            width="100%"
            style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem"
          />
        </picture>
        <div
          class="progress"
          style="border-top-left-radius: 0; border-top-right-radius: 0; position: relative"
        >
          <div
            *ngIf="anime?.mean"
            class="progress-bar"
            role="progressbar"
            [ngClass]="{
              'bg-success': anime!.mean >= 8,
              'bg-warning': anime!.mean < 7 && anime!.mean >= 5,
              'bg-danger': anime!.mean < 5
            }"
            [ngStyle]="{ 'width.%': anime!.mean * 10 }"
            aria-valuemin="0"
            aria-valuemax="10"
          >
            {{ anime!.mean }}
            <ng-container *ngIf="anime && anime!.my_list_status && anime!.my_list_status!.score"
              >({{ anime!.my_list_status!.score }})</ng-container
            >
          </div>
          <div
            *ngIf="anime && anime!.my_list_status && anime!.my_list_status!.score"
            class="progress-personal border-end"
            [ngClass]="{ 'border-primary': anime!.my_list_status!.score > anime!.mean }"
            [ngStyle]="{ 'width.%': anime!.my_list_status!.score * 10 }"
          ></div>
        </div>
      </ng-container>
      <div class="row mt-2" *ngIf="edit && editBackup">
        <div class="col-6 fw-bold">My&nbsp;Score</div>
        <div class="col-6">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editBackup.score"
            min="0"
            max="10"
            type="number"
            [disabled]="busy"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-8 mb-3">
      <div class="row" *ngIf="anime?.alternative_titles?.en">
        <div class="col-3 fw-bold">English</div>
        <div class="col-9">{{ anime?.alternative_titles?.en }}</div>
      </div>
      <div class="row" *ngIf="anime?.alternative_titles?.ja">
        <div class="col-3 fw-bold">Japanese</div>
        <div class="col-9">{{ anime?.alternative_titles?.ja }}</div>
      </div>
      <div class="row my-2" *ngIf="edit && editExtension">
        <div class="col-3 fw-bold">Series</div>
        <div class="col-9">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.series"
            [disabled]="busy"
          />
        </div>
      </div>
      <div class="row" *ngIf="anime?.studios && anime!.studios.length">
        <div class="col-3 fw-bold">Studio</div>
        <div class="col-9">
          <a *ngFor="let studio of anime!.studios" class="d-inline-block me-1">
            {{ studio.name }}
          </a>
        </div>
      </div>
      <div class="row" *ngIf="anime">
        <div class="col-3 fw-bold">Type</div>
        <div class="col-9">{{ anime!.media_type | mal: 'mediatype' }}</div>
      </div>
      <div class="row" *ngIf="anime && anime.start_date">
        <div class="col-3 fw-bold">Aired</div>
        <div class="col-9">
          {{ anime.start_date | date }} &ndash;
          <ng-container *ngIf="anime.end_date">{{ anime!.end_date | date }}</ng-container>
        </div>
      </div>
      <div class="row" *ngIf="anime">
        <div class="col-3 fw-bold">Source</div>
        <div class="col-9">{{ anime!.source | mal: 'mediatype' }}</div>
      </div>
      <div class="row" *ngIf="anime?.rating">
        <div class="col-3 fw-bold">Rating</div>
        <div class="col-9">{{ anime!.rating!.toUpperCase().replace('_', ' ') }}</div>
      </div>
      <div class="row" *ngIf="anime?.my_list_status" [class]="{ 'my-2': edit }">
        <div class="col-3 fw-bold">My&nbsp;List</div>
        <div class="col-9">
          <ng-container *ngIf="edit && editBackup; then mylistedit; else mylist"></ng-container>
          <ng-template #mylist>
            {{ anime!.my_list_status!.status | mal: 'mystatus' }}
            <app-icon
              *ngIf="
                anime!.my_list_status?.status === 'plan_to_watch' ||
                anime!.my_list_status?.status === 'on_hold'
              "
              name="play-circle"
              class="cursor-pointer me-1"
              (click)="setWatching()"
            ></app-icon>
          </ng-template>
          <ng-template #mylistedit>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="editBackup!.status"
              [disabled]="busy"
            >
              <option
                *ngFor="
                  let status of ['watching', 'completed', 'on_hold', 'dropped', 'plan_to_watch']
                "
                [value]="status"
              >
                {{ status | mal: 'mystatus' }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <div
        class="row"
        *ngIf="
          !edit &&
          anime &&
          anime.my_extension &&
          anime.my_extension?.simulDay &&
          anime.my_extension?.simulTime
        "
      >
        <div class="col-3 fw-bold">Simulcast</div>
        <div class="col-9">
          {{ getDay(anime.my_extension.simulDay) }},
          {{ anime.my_extension.simulTime?.substr(0, 5) | time }}
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && editExtension">
        <div class="col-3 fw-bold">Simulcast</div>
        <div class="col-5">
          <select
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.simulDay"
            [disabled]="busy"
          >
            <option [value]="1">Monday</option>
            <option [value]="2">Tuesday</option>
            <option [value]="3">Wednesday</option>
            <option [value]="4">Thursday</option>
            <option [value]="5">Friday</option>
            <option [value]="6">Saturday</option>
            <option [value]="0">Sunday</option>
          </select>
        </div>
        <div class="col-4">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.simulTime"
            type="time"
            [disabled]="busy"
          />
        </div>
      </div>
      <div
        class="row"
        *ngIf="!edit && anime && anime.my_extension && anime.my_extension.externalStreaming"
      >
        <div class="col-3 fw-bold">Streaming</div>
        <div class="col-9">
          <a
            *ngIf="anime.my_extension.externalStreamingId"
            href="{{ anime.my_extension.externalStreaming | stream: 'urlprefix' }}{{
              anime.my_extension.externalStreamingId
            }}"
            target="_blank"
          >
            <img
              alt="{{ anime.my_extension.externalStreaming | stream: 'name' }}"
              style="max-width: 5rem; max-height: 1rem"
              class="ml-1"
              src="/assets/stream/{{ anime.my_extension.externalStreaming }}.svg"
            />
          </a>
          <img
            *ngIf="!anime.my_extension.externalStreamingId"
            alt="{{ anime.my_extension.externalStreaming | stream: 'name' }}"
            style="max-width: 5rem; max-height: 1rem"
            class="ml-1"
            src="/assets/stream/{{ anime.my_extension.externalStreaming }}.svg"
          />
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && editExtension">
        <div class="col-3 fw-bold">Streaming</div>
        <div class="col-6">
          <select
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.externalStreaming"
            [disabled]="busy"
          >
            <option *ngFor="let provider of streamPipe.streamingProviders" [value]="provider.id">
              {{ provider.name }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.simulCountry"
            [disabled]="busy"
          />
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && editExtension">
        <div class="col-3 fw-bold">Stream&nbsp;ID</div>
        <div class="col-9">
          <input
            class="form-control form-control-sm"
            [(ngModel)]="editExtension!.externalStreamingId"
            [disabled]="busy"
          />
        </div>
      </div>
      <div class="row my-2" *ngIf="edit && editExtension && traktUser">
        <div class="col-3 fw-bold">Trakt&nbsp;ID</div>
        <div class="col-9">
          <div class="input-group input-group-sm">
            <input
              class="form-control"
              [(ngModel)]="editExtension!.trakt"
              [disabled]="busy"
              readonly
            />
            <button class="btn btn-primary" (click)="findTrakt()">
              <svg
                style="height: 1rem"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 144.8 144.8"
              >
                <g fill="currentColor">
                  <path
                    d="M29.5,111.8c10.6,11.6,25.9,18.8,42.9,18.8c8.7,0,16.9-1.9,24.3-5.3L56.3,85L29.5,111.8z"
                  />
                  <path
                    d="M56.1,60.6L25.5,91.1L21.4,87l32.2-32.2h0l37.6-37.6c-5.9-2-12.2-3.1-18.8-3.1c-32.2,0-58.3,26.1-58.3,58.3
c0,13.1,4.3,25.2,11.7,35l30.5-30.5l2.1,2l43.7,43.7c0.9-0.5,1.7-1,2.5-1.6L56.3,72.7L27,102l-4.1-4.1l33.4-33.4l2.1,2l51,50.9
c0.8-0.6,1.5-1.3,2.2-1.9l-55-55L56.1,60.6z"
                  />
                  <path
                    d="M115.7,111.4c9.3-10.3,15-24,15-39c0-23.4-13.8-43.5-33.6-52.8L60.4,56.2L115.7,111.4z M74.5,66.8l-4.1-4.1l28.9-28.9
l4.1,4.1L74.5,66.8z M101.9,27.1L68.6,60.4l-4.1-4.1L97.8,23L101.9,27.1z"
                  />
                  <g>
                    <g>
                      <path
                        d="M72.4,144.8C32.5,144.8,0,112.3,0,72.4C0,32.5,32.5,0,72.4,0s72.4,32.5,72.4,72.4C144.8,112.3,112.3,144.8,72.4,144.8z
       M72.4,7.3C36.5,7.3,7.3,36.5,7.3,72.4s29.2,65.1,65.1,65.1s65.1-29.2,65.1-65.1S108.3,7.3,72.4,7.3z"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="anime">
        <div class="col-3 fw-bold">Duration</div>
        <div class="col-9">
          <app-icon
            *ngIf="anime.my_list_status?.status === 'watching' && !edit"
            name="plus-square"
            class="cursor-pointer me-1"
            (click)="plusOne()"
          ></app-icon>
          {{ anime?.num_episodes || '?' }}
          <span *ngIf="anime?.average_episode_duration">
            &times; {{ (anime!.average_episode_duration || 0) / 60 | number: '1.0-0' }} min
          </span>
        </div>
      </div>

      <div *ngIf="anime">
        <div class="row" *ngIf="!edit">
          <div class="col-3 fw-bold">Episodes</div>
          <div class="col-9">
            <div class="progress my-1">
              <div
                *ngIf="anime?.my_list_status?.num_episodes_watched"
                class="progress-bar px-1"
                [ngClass]="{
                  'bg-success':
                    anime!.my_list_status?.num_episodes_watched == anime!.num_episodes &&
                    anime!.num_episodes,
                  'bg-gradient': !anime!.num_episodes
                }"
                [ngStyle]="{
                  'min-width.%':
                    anime!.num_episodes || anime!.my_list_status?.num_episodes_watched == 0
                      ? ((anime!.my_list_status?.num_episodes_watched || 0) / anime!.num_episodes) *
                        100
                      : 30
                }"
              >
                {{ anime!.my_list_status?.num_episodes_watched }}/{{ anime!.num_episodes || '?' }}
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editBackup">
          <div class="col-3 fw-bold">Progress</div>
          <div class="col-9">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                type="number"
                min="0"
                [max]="anime!.num_episodes || 9999"
                [(ngModel)]="editBackup!.num_watched_episodes"
                [disabled]="busy"
              />
              <span class="input-group-text">/ {{ anime!.num_episodes || '?' }}</span>
            </div>
          </div>
        </div>
        <div class="row my-2" *ngIf="edit && editExtension">
          <div class="col-3 fw-bold">Seasonno</div>
          <div class="col-3">
            <input
              class="form-control form-control-sm"
              [(ngModel)]="editExtension.seasonNumber"
              type="number"
              [disabled]="busy"
            />
          </div>
          <div class="col-3 fw-bold">Offset</div>
          <div class="col-3">
            <input
              class="form-control form-control-sm"
              [(ngModel)]="editExtension.episodeCorOffset"
              type="number"
              [disabled]="busy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <section *ngIf="!edit">
    <div class="mb-3" *ngIf="anime">
      <span *ngFor="let genre of anime!.genres" class="badge bg-primary me-1">
        {{ genre.name }}
      </span>
    </div>

    <div class="mb-3" *ngIf="anime?.synopsis" (click)="shortsyn = !shortsyn">
      {{
        shortsyn && anime!.synopsis!.length > 150
          ? anime!.synopsis!.substr(0, 150) + '…'
          : anime!.synopsis
      }}
    </div>

    <div class="row" *ngIf="anime?.opening_themes || anime?.ending_themes">
      <div class="col-sm-6 mb-3" *ngIf="anime!.opening_themes?.length">
        <strong class="text-dark">Opening{{ anime!.opening_themes.length > 1 ? 's' : '' }}</strong>
        <div *ngFor="let song of anime!.opening_themes" class="mt-2">
          {{ song.text }}
          <a *ngIf="getSongUrl(song.spotify)" [href]="getSongUrl(song.spotify)" target="_blank">
            <app-icon-spotify></app-icon-spotify>
          </a>
        </div>
      </div>
      <div class="col-sm-6 mb-3" *ngIf="anime!.ending_themes?.length">
        <strong class="text-dark">Ending{{ anime!.ending_themes.length > 1 ? 's' : '' }}</strong>
        <div *ngFor="let song of anime!.ending_themes" class="mt-2">
          {{ song.text }}
        </div>
      </div>
    </div>

    <ng-container *ngIf="anime?.related_anime">
      <div *ngFor="let type of getRelatedAnimes()" class="mb-3">
        <strong class="text-dark">{{ type.name }}</strong>
        <div *ngFor="let related of type.entries" class="mt-2">
          <a routerLink="/anime/details/{{ related.id }}">
            {{ related.title }}
          </a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="anime?.related_manga">
      <div *ngFor="let type of getRelatedMangas()" class="mb-3">
        <strong class="text-dark">{{ type.name }}</strong>
        <div *ngFor="let related of type.entries" class="mt-2">
          <a routerLink="/manga/details/{{ related.id }}">
            {{ related.title }}
          </a>
        </div>
      </div>
    </ng-container>
  </section>
</div>
