<div class="m-3">
  <div class="d-flex">
    <h2>{{ anime?.title || 'Loading…' }}</h2>
    <div class="ms-auto ps-3 cursor-pointer" *ngIf="anime?.title">
      <ng-container *ngIf="anime?.my_list_status; else add">
        <app-icon
          [name]="busy ? 'hourglass-split' : edit ? 'check2' : 'pencil'"
          size="24"
          (click)="editSave()"
        ></app-icon>
        <app-icon *ngIf="edit" name="x" size="24" class="ms-3" (click)="stopEdit()"></app-icon>
      </ng-container>
      <ng-template #add>
        <app-icon
          [name]="busy ? 'hourglass-split' : 'plus'"
          size="24"
          (click)="editSave()"
        ></app-icon>
      </ng-template>
    </div>
  </div>
  <hr class="mt-0" />
  <div class="row">
    <div class="col-sm-6 mb-3">
      <picture>
        <source
          *ngIf="anime && anime.main_picture"
          srcset="{{ anime.main_picture.large || anime.main_picture.medium }}"
        />
        <source srcset="/assets/blank-poster.svg" />
        <img
          src="/assets/blank-poster.svg"
          alt="poster"
          width="100%"
          style="border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem"
        />
      </picture>
      <div
        class="progress"
        style="border-top-left-radius: 0; border-top-right-radius: 0; position: relative"
      >
        <div
          *ngIf="anime?.mean"
          class="progress-bar"
          role="progressbar"
          [ngClass]="{
            'bg-success': anime!.mean >= 8,
            'bg-warning': anime!.mean < 7 && anime!.mean >= 5,
            'bg-danger': anime!.mean < 5
          }"
          [ngStyle]="{ 'width.%': anime!.mean * 10 }"
          aria-valuemin="0"
          aria-valuemax="10"
        >
          {{ anime!.mean }}
          <ng-container *ngIf="anime && anime!.my_list_status && anime!.my_list_status!.score"
            >({{ anime!.my_list_status!.score }})</ng-container
          >
        </div>
        <div
          *ngIf="anime && anime!.my_list_status && anime!.my_list_status!.score"
          class="progress-personal border-end"
          [ngClass]="{ 'border-primary': anime!.my_list_status!.score > anime!.mean }"
          [ngStyle]="{ 'width.%': anime!.my_list_status!.score * 10 }"
        ></div>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="row" *ngIf="anime?.alternative_titles?.en">
        <div class="col-3 fw-bold">English</div>
        <div class="col-9">{{ anime?.alternative_titles?.en }}</div>
      </div>
      <div class="row" *ngIf="anime?.alternative_titles?.ja">
        <div class="col-3 fw-bold">Japanese</div>
        <div class="col-9">{{ anime?.alternative_titles?.ja }}</div>
      </div>
      <div class="row" *ngIf="anime?.studios && anime!.studios.length">
        <div class="col-3 fw-bold">Studio</div>
        <div class="col-9">
          <a *ngFor="let studio of anime!.studios" class="d-inline-block me-1">
            {{ studio.name }}
          </a>
        </div>
      </div>
      <div class="row" *ngIf="anime">
        <div class="col-3 fw-bold">Type</div>
        <div class="col-9">{{ anime!.media_type.toUpperCase() }}</div>
      </div>
      <div class="row" *ngIf="anime?.status == 'finished_airing'">
        <div class="col-3 fw-bold">Aired</div>
        <div class="col-9">{{ anime!.start_date | date }} &ndash; {{ anime!.end_date | date }}</div>
      </div>
      <div class="row" *ngIf="anime">
        <div class="col-3 fw-bold">Source</div>
        <div class="col-9">{{ anime!.source | mal: 'mediatype' }}</div>
      </div>
      <div class="row" *ngIf="anime?.rating">
        <div class="col-3 fw-bold">Rating</div>
        <div class="col-9">{{ anime!.rating!.toUpperCase().replace('_', ' ') }}</div>
      </div>
      <div class="row" *ngIf="anime?.my_list_status">
        <div class="col-3 fw-bold">My&nbsp;List</div>
        <div class="col-9">
          <ng-container *ngIf="edit && editBackup; then mylistedit; else mylist"></ng-container>
          <ng-template #mylist>{{ anime!.my_list_status!.status | mal: 'mystatus' }}</ng-template>
          <ng-template #mylistedit>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="editBackup!.status"
              [disabled]="busy"
            >
              <option
                *ngFor="
                  let status of ['watching', 'completed', 'on_hold', 'dropped', 'plan_to_watch']
                "
                [value]="status"
              >
                {{ status | mal: 'mystatus' }}
              </option>
            </select>
          </ng-template>
        </div>
      </div>
      <!-- <div *ngIf="anime && anime.simulDay && anime.simulTime">
        <strong class="text-dark">Simulcast</strong> -->
      <!-- {{ getDay(anime.simulDay) }}, -->
      <!-- {{ anime.simulTime.substr(0, 5) | time }} -->
      <!-- </div> -->
      <div class="row" *ngIf="anime">
        <div class="col-3 fw-bold">Episodes</div>
        <div class="col-9">
          {{ anime?.num_episodes || '?' }}
          <span *ngIf="anime?.average_episode_duration">
            &times; {{ (anime!.average_episode_duration || 0) / 60 | number: '1.0-0' }} min
          </span>
        </div>
      </div>

      <div *ngIf="anime">
        <div class="progress" *ngIf="!edit">
          <div
            *ngIf="anime?.my_list_status?.num_episodes_watched"
            class="progress-bar px-1"
            [ngClass]="{
              'bg-success':
                anime!.my_list_status?.num_episodes_watched == anime!.num_episodes &&
                anime!.num_episodes,
              'bg-gradient': !anime!.num_episodes
            }"
            [ngStyle]="{
              'min-width.%':
                anime!.num_episodes || anime!.my_list_status?.num_episodes_watched == 0
                  ? ((anime!.my_list_status?.num_episodes_watched || 0) / anime!.num_episodes) * 100
                  : 30
            }"
          >
            {{ anime!.my_list_status?.num_episodes_watched }}/{{ anime!.num_episodes || '?' }}
          </div>
        </div>
        <div class="row" *ngIf="edit && editBackup">
          <div class="col-3 fw-bold">Progress</div>
          <div class="col-9">
            <div class="input-group input-group-sm">
              <input
                class="form-control"
                type="number"
                min="0"
                [max]="anime!.num_episodes || 9999"
                [(ngModel)]="editBackup!.num_watched_episodes"
                [disabled]="busy"
              />
              <span class="input-group-text">/ {{ anime!.num_episodes || '?' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3" *ngIf="anime">
    <span *ngFor="let genre of anime!.genres" class="badge bg-primary me-1">
      {{ genre.name }}
    </span>
  </div>

  <div class="mb-3" *ngIf="anime?.synopsis" (click)="shortsyn = !shortsyn">
    {{
      shortsyn && anime!.synopsis!.length > 150
        ? anime!.synopsis!.substr(0, 150) + '…'
        : anime!.synopsis
    }}
  </div>

  <div class="row" *ngIf="anime?.opening_themes || anime?.ending_themes">
    <div class="col-sm-6 mb-3" *ngIf="anime!.opening_themes?.length">
      <strong class="text-dark">Opening{{ anime!.opening_themes.length > 1 ? 's' : '' }}</strong>
      <div *ngFor="let song of anime!.opening_themes" class="mt-2">
        {{ song.text }}
      </div>
    </div>
    <div class="col-sm-6 mb-3" *ngIf="anime!.ending_themes?.length">
      <strong class="text-dark">Ending{{ anime!.ending_themes.length > 1 ? 's' : '' }}</strong>
      <div *ngFor="let song of anime!.ending_themes" class="mt-2">
        {{ song.text }}
      </div>
    </div>
  </div>

  <ng-container *ngIf="anime?.related_anime">
    <div *ngFor="let type of getRelatedAnimes()" class="mb-3">
      <strong class="text-dark">{{ type.name }}</strong>
      <div *ngFor="let related of type.entries" class="mt-2">
        <a routerLink="/anime/details/{{ related.id }}">
          {{ related.title }}
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="anime?.related_manga">
    <div *ngFor="let type of getRelatedMangas()" class="mb-3">
      <strong class="text-dark">{{ type.name }}</strong>
      <div *ngFor="let related of type.entries" class="mt-2">
        <a routerLink="/manga/details/{{ related.id }}">
          {{ related.title }}
        </a>
      </div>
    </div>
  </ng-container>
</div>
