/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$theme-colors: (
  "gray-dark": #231123,
  "dark": #231123,
  "blue": #204a82,
  "primary": #204a82,
  "red": #82204a,
  "danger": #82204a,
  "green": #4a8220,
  "success": #4a8220,
  "yellow": #825820,
  "warning": #825820,
  "spotify": #1db954,
  "trakt": #ed1c24,
  // "white": #eff7ff,
);

$primary: #204a82;
$info: #17a2b8;
$success: #4a8220;
$warning: #825820;
$error: #82204a;
// $body-bg: #eff7ff;
$body-color: #231123;

@import '~bootstrap/scss/bootstrap';

.cursor-pointer {
  cursor: pointer;
}

circle-progress {
  vertical-align: text-top;
  line-height: 1;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-end {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-start {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-end-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-start-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}