/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cursor-pointer {
  cursor: pointer;
}

circle-progress {
  vertical-align: text-top;
  line-height: 1;
}
