<section class="mb-3" *ngIf="characters.length">
  <div class="overflow-auto mt-2">
    <div class="d-flex" [ngStyle]="{ 'width.rem': 8 * characters.length }">
      <div class="card me-3" style="width: 7rem" *ngFor="let character of characters">
        <img
          style="height: 11rem; object-fit: cover"
          [src]="character.image_url || '/assets/blank-poster.svg'"
          class="card-img-top"
          [alt]="character.name"
        />
        <div class="card-body p-2">
          <div class="small">{{ character.name }}</div>
          <div class="small text-muted">{{ character.role }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
