<div class="row">
  <div class="col-5">Livechart</div>
  <div class="col-7">
    @if (livechartLoggedIn) {
      <myanili-icon-livechart class="me-1"></myanili-icon-livechart>
      <a href="https://www.livechart.me/users/{{ livechartLoggedIn }}/library" target="_blank">{{
        livechartLoggedIn
      }}</a>
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="livechartLogoff()"
      ></myanili-icon>
    } @else {
      @if (livechartData) {
        <input
          class="form-control mb-1"
          placeholder="Email"
          [(ngModel)]="livechartData.username"
          type="email"
        />
        <input
          class="form-control mb-1"
          placeholder="Password"
          type="password"
          [(ngModel)]="livechartData.password"
        />
      }
      <button
        class="btn btn-sm btn-primary"
        (click)="livechartConnect()"
        [disabled]="
          (livechartData && (!livechartData.username || !livechartData.password)) ||
          livechartLoading
        "
      >
        @if (livechartLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-livechart></myanili-icon-livechart>
        }
        Connect
      </button>
    }
  </div>
</div>
