.card-overlay {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  background: linear-gradient(rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0.1) 0.25rem, rgb(0 0 0 / 0.5) 1rem);
  color: #fff;
  width: 100%;
  text-shadow: 0 0 3px black;
  font-weight: 600;
  text-overflow: ellipsis;
}

.card-details {
  position: absolute;
  top: 100%;
  width: 100%;
  height: calc(100% + 2px);
  background: rgb(255 255 255 / 0.75);
  backdrop-filter: blur(5px);
  color: var(--color-black);
  transition: all 0.3s ease;
  overflow-y: scroll;
  &:empty {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
}

.card:hover {
  .card-details {
    top: 0;
  }
}

picture {
  height: 100%;
}

img {
  height: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}
