<div class="card cursor-pointer overflow-hidden">
  <picture>
    <source *ngIf="poster" [srcset]="poster" />
    <source srcset="/assets/blank-poster.svg" />
    <img loading="lazy" src="/assets/blank-poster.svg" alt="poster" class="card-img" />
  </picture>
  <div class="card-overlay">
    <span class="line-clamp">
      <myanili-icon
        *ngIf="mediaType"
        name="{{ mediaType | mal : 'mediaicon' }}"
        class="me-1"
      ></myanili-icon>
      {{ title }}
    </span>
  </div>
  <myanili-status-badge
    [status]="status"
    [progress]="progress"
    [parts]="parts"
    [recommendations]="recommendations"
    [icon]="icon"
  ></myanili-status-badge>
  <div class="card-details">
    <ng-content></ng-content>
  </div>
</div>
