<div class="row">
  <div class="col-5">aniSearch</div>
  <div class="col-7">
    @if (anisearchLoggedIn) {
      <myanili-icon-anisearch class="me-1"></myanili-icon-anisearch>
      <a href="https://anisearch.com/member/{{ anisearchLoggedIn.id }}" target="_blank">{{
        anisearchLoggedIn.username
      }}</a>
      <myanili-icon
        class="cursor-pointer"
        name="x"
        size="20"
        (click)="anisearchLogoff()"
      ></myanili-icon>
    } @else {
      <button
        class="btn btn-sm btn-primary"
        (click)="anisearchConnect()"
        [disabled]="anisearchLoading"
      >
        @if (anisearchLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-anisearch></myanili-icon-anisearch>
        }
        Connect
      </button>
    }
  </div>
</div>
