<svg class="bi" [attr.width]="size" [attr.height]="size" fill="currentColor">
  <g id="dot0">
    <circle fill="transparent" r="8" cx="8" cy="8" />
    <circle r="1" cx="8" cy="4" />
  </g>
  <g id="dot1">
    <circle fill="transparent" r="8" cx="8" cy="8" />
    <circle r="1" cx="8" cy="4" />
  </g>
  <g id="dot2">
    <circle fill="transparent" r="8" cx="8" cy="8" />
    <circle r="1" cx="8" cy="4" />
  </g>
  <g id="dot3">
    <circle fill="transparent" r="8" cx="8" cy="8" />
    <circle r="1" cx="8" cy="4" />
  </g>
  <path *ngIf="name === 'loading-circle'" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
</svg>
