<div class="modal-header">
  <h5 class="modal-title">MyAniLi has been updated!</h5>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="card mt-3">
    <div class="card-header">Changelog</div>
    @for (change of changelog.changes; track change) {
      <div class="card-body border-bottom">
        <h6>
          v{{ change.version }}
          @if (change.date) {
            <small class="text-muted"> ({{ change.date | date: 'mediumDate' }}) </small>
          }
        </h6>
        @if (change.features?.length) {
          <div>
            Features:
            <ul>
              @for (feature of change.features; track feature) {
                <li>{{ feature }}</li>
              }
            </ul>
          </div>
        }
        @if (change.fixes?.length) {
          <div>
            Fixes:
            <ul>
              @for (fix of change.fixes; track fix) {
                <li>{{ fix }}</li>
              }
            </ul>
          </div>
        }
        @if (change.other?.length) {
          <div>
            Other:
            <ul>
              @for (other of change.other; track other) {
                <li>{{ other }}</li>
              }
            </ul>
          </div>
        }
      </div>
    }
  </div>
</div>
