<div class="container mt-sm-3 border-sm-x border-sm-y rounded">
  <header class="d-flex pt-2 mb-3 border-bottom sticky-header bg-white">
    <h2>
      {{ character?.data?.name || 'Loading…' }}
      <a [href]="'https://myanimelist.net/character/' + id" target="_blank">
        <myanili-icon-mal
          size="38"
          style="vertical-align: bottom; line-height: 0.5"
        ></myanili-icon-mal>
      </a>
    </h2>
  </header>
  <div class="row">
    <div class="col-sm-5 col-md-4 mb-3">
      <picture>
        <source
          *ngIf="character?.data?.images?.jpg?.image_url"
          srcset="{{ character?.data?.images?.jpg?.image_url }}"
        />
        <source srcset="/assets/blank-poster.svg" />
        <img src="/assets/blank-poster.svg" alt="poster" width="100%" class="rounded" />
      </picture>
    </div>
    <div class="col-sm-7 col-md-8 mb-3" *ngIf="character && character.data">
      <myanili-value-pair
        *ngIf="character.data.name_kanji"
        name="Name"
        [value]="character.data.name_kanji"
      ></myanili-value-pair>
      <myanili-value-pair name="Nickname" *ngIf="character.data.nicknames?.length">
        <div *ngFor="let name of character.data.nicknames">{{ name }}</div>
      </myanili-value-pair>
      <div class="row" *ngIf="character.data.about">
        <div class="d-none d-md-block col-md-4 fw-bold text-end">About</div>
        <div class="col-12 col-md-8" [innerHTML]="character.data.about || '' | nl2br"></div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="character">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Anime</a>
        <ng-template ngbNavContent>
          <myanili-character-anime [malId]="id"></myanili-character-anime>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Manga</a>
        <ng-template ngbNavContent>
          <myanili-character-manga [malId]="id"></myanili-character-manga>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Voice Actors</a>
        <ng-template ngbNavContent>
          <myanili-character-voices [malId]="id"></myanili-character-voices>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2 mb-3"></div>
  </ng-container>
</div>
