<section>
  <table class="table table-sm table-hover table-striped table-responsive-md">
    <thead class="sticky">
      <tr>
        <th>
          <app-icon name="list-check" class="mx-2"></app-icon>
        </th>
        <th
          class="d-lg-table-cell"
          [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
        >
          Name
        </th>
        <th class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">English Name</th>
        <th class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">Japanese Name</th>
        <th class="d-none d-sm-table-cell">Series</th>
        <th class="d-none d-md-table-cell">Streaming</th>
        <th class="d-none d-md-table-cell">Episode</th>
        <th colspan="2" class="d-md-none">Episode</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let anime of animes">
        <tr
          class="cursor-pointer"
          [class]="{
            'fw-bold': anime.my_list_status?.status === 'watching',
            'text-muted': anime.my_list_status?.status === 'dropped'
          }"
          routerLink="/anime/details/{{ anime.id }}"
        >
          <td>
            <app-icon-status
            class="mx-2"
              *ngIf="anime.my_list_status"
              [status]="anime.my_list_status!.status"
            ></app-icon-status>
          </td>
          <td
            class="d-lg-table-cell"
            [class]="{ 'd-none': lang !== 'default', 'd-md-table-cell': lang === 'en' }"
          >
            {{ anime.title }}
          </td>
          <td class="d-md-table-cell" [class]="{ 'd-none': lang !== 'en' }">
            {{ anime.alternative_titles?.en || anime.title }}
          </td>
          <td class="d-lg-table-cell" [class]="{ 'd-none': lang !== 'jp' }">
            {{ anime.alternative_titles?.ja }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ anime.my_extension?.series || anime.title }}
            <span
              class="text-muted"
              *ngIf="anime.my_extension?.seasonNumber && anime.my_extension?.seasonNumber != 1"
              >S{{ anime.my_extension?.seasonNumber }}</span
            >
          </td>
          <td>
            <app-streaming
              [provider]="anime.my_extension?.externalStreaming"
              [country]="anime.my_extension?.simulCountry"
            ></app-streaming>
          </td>
          <td style="white-space: nowrap">
            <circle-progress
              *ngIf="anime.my_list_status?.status === 'watching'"
              [percent]="
                anime.num_episodes
                  ? ((anime.my_list_status?.num_episodes_watched || 0) / anime.num_episodes!) * 100
                  : 0
              "
            ></circle-progress>
            {{ anime.my_list_status?.num_episodes_watched }}/{{ anime.num_episodes || '?' }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
