<div class="row">
  <div class="col-5">Baka-Updates Manga</div>
  <div class="col-7">
    @if (bakaLoggedIn) {
      <myanili-icon-bakamanga style="color: #e75e45" class="me-1"></myanili-icon-bakamanga>
      <a href="{{ bakaLoggedIn.url }}" target="_blank">{{ bakaLoggedIn.username }}</a>
      <myanili-icon class="cursor-pointer" name="x" size="20" (click)="bakaLogoff()"></myanili-icon>
      <myanili-migrate-baka></myanili-migrate-baka>
    } @else {
      @if (bakaData) {
        <input class="form-control mb-1" placeholder="Username" [(ngModel)]="bakaData.username" />
        <input
          class="form-control mb-1"
          placeholder="Password"
          type="password"
          [(ngModel)]="bakaData.password"
        />
      }
      <button
        class="btn btn-sm btn-primary"
        (click)="bakaConnect()"
        [disabled]="(bakaData && (!bakaData.username || !bakaData.password)) || bakaLoading"
      >
        @if (bakaLoading) {
          <myanili-icon-loading></myanili-icon-loading>
        } @else {
          <myanili-icon-bakamanga style="color: #e75e45"></myanili-icon-bakamanga>
        }
        Connect
      </button>
    }
  </div>
</div>
